<div class="m-4 space-y-4 text-white">
  <div class="text-3xl">Your Grooms</div>
  <div class="text-xl">Pending And Confirmed</div>
  <div class="overflow-hidden rounded-lg border-gray-800 border">
    <div class="max-h-40 overflow-y-scroll">
      <table class="w-full">
        <thead>
          <tr class="bg-gray-800 text-left sticky top-0">
            <th class="p-2">Pet</th>
            <th class="p-2">Time In</th>
            <th class="p-2">Status</th>
            <th class="p-2">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% @grooms.each do |groom|%>
            <tr class="text-left">
              <td class="p-2">
                <div class="font-bold">
                  <%= groom.is_a?(Groom) ? groom.pet.name : groom.pet_name %>
                </div>
                <div class="text-xs">
                  <%= groom.is_a?(Groom) ? groom.pet.user.full_name : groom.owner_name %>
                </div>
              </td>
              <td class="p-2"><%= groom.start_time.strftime("%I:%M%P") %></td>
              <td class="p-2"><%= groom.formatted_status %></td>
              <td class="flex space-x-4 p-4">
                <% if groom.is_a?(Groom) %>
                  <%= link_to employee_app_groom_path(groom) do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                    </svg>
                  <% end %>
                <% else %>
                  <%= link_to employee_app_temporary_groom_path(groom) do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                    </svg>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-xl">In Progress</div>
  <div class="overflow-hidden rounded-lg border-gray-800 border">
    <div class="max-h-40 overflow-y-scroll">
      <table class="w-full">
        <thead>
          <tr class="bg-gray-800 text-left sticky top-0">
            <th class="p-2">Pet</th>
            <th class="p-2">Time In</th>
            <th class="p-2">Status</th>
            <th class="p-2">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% @in_progress_grooms.each do |groom|%>
            <tr class="text-left">
              <td class="p-2">
                <div class="font-bold">
                  <%= groom.is_a?(Groom) ? groom.pet.name : groom.pet_name %>
                </div>
                <div class="text-xs">
                  <%= groom.is_a?(Groom) ? groom.pet.user.full_name : groom.owner_name %>
                </div>
              </td>
              <td class="p-2"><%= groom.start_time.strftime("%I:%M%P") %></td>
              <td class="flex space-x-4 p-4">
                <% if groom.is_a?(Groom) %>
                  <%= link_to employee_app_groom_path(groom) do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                    </svg>
                  <% end %>
                <% else %>
                  <%= link_to employee_app_temporary_groom_path(groom) do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                    </svg>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-xl">Complete</div>
  <div class="overflow-hidden rounded-lg border-gray-800 border">
    <div class="max-h-40 overflow-y-scroll">
      <table class="w-full">
        <thead>
          <tr class="bg-gray-800 text-left sticky top-0">
            <th class="p-2">Pet</th>
            <th class="p-2">Time In</th>
            <th class="p-2">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% @completed_grooms.each do |groom|%>
            <tr class="text-left">
              <td class="p-2">
                <div class="font-bold">
                  <%= groom.is_a?(Groom) ? groom.pet.name : groom.pet_name %>
                </div>
                <div class="text-xs">
                  <%= groom.is_a?(Groom) ? groom.pet.user.full_name : groom.owner_name %>
                </div>
              </td>
              <td class="p-2"><%= groom.start_time.strftime("%I:%M%P") %></td>
              <td class="flex space-x-4 p-4">
                <% if groom.is_a?(Groom) %>
                  <%= link_to employee_app_groom_path(groom) do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                    </svg>
                  <% end %>
                <% else %>
                  <%= link_to employee_app_temporary_groom_path(groom) do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                    </svg>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>