<div class="space-y-8">
  <div class="w-full flex space-x-4">
    <div class="w-full bg-white border border-gray-200 rounded-lg">
      <div class="w-full p-4">
        <div class="font-bold">Pending And Confirmed Daycare Visits</div>
      </div>
      <div class="overflow-hidden rounded-lg">
        <div class="max-h-40 overflow-y-scroll">
          <table class="w-full">
            <thead>
              <tr class="bg-gray-300 text-left sticky top-0">
                <th class="p-2">Pet</th>
                <th class="p-2">Time In</th>
                <th class="p-2">Status</th>
                <th class="p-2">Duration</th>
                <th class="p-2">Actions</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @daycare_visits.each do |date, daycare_visits|%>
                <tr>
                  <td class="p-2"><%= date.strftime("%B %e") %></td>
                  <td class="p-2"></td>
                  <td class="p-2"></td>
                  <td class="p-2"></td>
                  <td class="p-2"></td>
                </tr>
                <% daycare_visits.each do |daycare_visit| %>
                  <tr class="bg-gray-50 text-left">
                    <td class="p-2">
                      <div class="flex space-x-2 items-center">
                        <% if daycare_visit.user&.colour.present? %>
                          <div class="rounded-full h-2 w-2" style="background-color: <%= daycare_visit.user.colour %>;"></div>
                        <% end %>
                        <div class="font-bold">
                          <%= daycare_visit.is_a?(DaycareVisit) ? daycare_visit.pet.name : daycare_visit.pet_name %>
                        </div>
                      </div>
                      <div class="text-xs">
                        <%= daycare_visit.is_a?(DaycareVisit) ? daycare_visit.pet.user.full_name : daycare_visit.owner_name %>
                      </div>
                    </td>
                    <td class="p-2"><%= daycare_visit.time.strftime("%I:%M%P") %></td>
                    <td class="p-2"><%= daycare_visit.status.capitalize %></td>
                    <td class="p-2"><%= daycare_visit.formatted_duration %></td>
                    <td class="flex space-x-4 p-4">
                      <% if daycare_visit.is_a?(DaycareVisit) %>
                        <%= link_to desktop_daycare_visit_path(daycare_visit) do %>
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                          </svg>
                        <% end %>
                      <% else %>
                        <%= link_to desktop_temporary_daycare_visit_path(daycare_visit) do %>
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                          </svg>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="w-full bg-white border border-gray-200 rounded-lg">
      <div class="w-full p-4">
        <div class="font-bold">Currently Checked In</div>
      </div>
      <div class="overflow-hidden rounded-lg">
        <div class="max-h-40 overflow-y-scroll">
          <table class="w-full">
            <thead>
              <tr class="bg-gray-300 text-left sticky top-0">
                <th class="p-2">Pet</th>
                <th class="p-2">Time In</th>
                <th class="p-2">Duration</th>
                <th class="p-2">Actions</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @in_progress_daycare_visits.each do |daycare_visit| %>
                <tr class="bg-gray-50 text-left">
                  <td class="p-2">
                    <div class="flex space-x-2 items-center">
                      <% if daycare_visit.user&.colour.present? %>
                        <div class="rounded-full h-2 w-2" style="background-color: <%= daycare_visit.user.colour %>;"></div>
                      <% end %>
                      <div class="font-bold">
                        <%= daycare_visit.is_a?(DaycareVisit) ? daycare_visit.pet.name : daycare_visit.pet_name %>
                      </div>
                    </div>
                    <div class="text-xs">
                      <%= daycare_visit.is_a?(DaycareVisit) ? daycare_visit.pet.user.full_name : daycare_visit.owner_name %>
                    </div>
                  </td>
                  <td class="p-2"><%= daycare_visit.time.strftime("%I:%M%P") %></td>
                  <td class="p-2"><%= daycare_visit.formatted_duration %></td>
                  <td class="flex space-x-4 p-4">
                    <% if daycare_visit.is_a?(DaycareVisit) %>
                      <%= link_to desktop_daycare_visit_path(daycare_visit) do %>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                        </svg>
                      <% end %>
                    <% else %>
                      <%= link_to desktop_temporary_daycare_visit_path(daycare_visit) do %>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                        </svg>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="w-full bg-white border border-gray-200 rounded-lg">
      <div class="w-full p-4">
        <div class="font-bold">Completed Daycare Visits</div>
      </div>
      <div class="overflow-hidden rounded-lg">
        <div class="max-h-40 overflow-y-scroll">
          <table class="w-full">
            <thead>
              <tr class="bg-gray-300 text-left sticky top-0">
                <th class="p-2">Pet</th>
                <th class="p-2">Time In</th>
                <th class="p-2">Duration</th>
                <th class="p-2">Actions</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @completed_daycare_visits.each do |daycare_visit| %>
                <tr class="bg-gray-50 text-left">
                  <td class="p-2">
                    <div class="flex space-x-2 items-center">
                      <% if daycare_visit.user&.colour.present? %>
                        <div class="rounded-full h-2 w-2" style="background-color: <%= daycare_visit.user.colour %>;"></div>
                      <% end %>
                      <div class="font-bold">
                        <%= daycare_visit.is_a?(DaycareVisit) ? daycare_visit.pet.name : daycare_visit.pet_name %>
                      </div>
                    </div>
                    <div class="text-xs">
                      <%= daycare_visit.is_a?(DaycareVisit) ? daycare_visit.pet.user.full_name : daycare_visit.owner_name %>
                    </div>
                  </td>
                  <td class="p-2"><%= daycare_visit.time.strftime("%I:%M%P") %></td>
                  <td class="p-2"><%= daycare_visit.formatted_duration %></td>
                  <td class="flex space-x-4 p-4">
                    <% if daycare_visit.is_a?(DaycareVisit) %>
                      <%= link_to desktop_daycare_visit_path(daycare_visit) do %>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                        </svg>
                      <% end %>
                    <% else %>
                      <%= link_to desktop_temporary_daycare_visit_path(daycare_visit) do %>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                        </svg>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="flex space-x-4">
    <div class="w-full bg-white border border-gray-200 rounded-lg">
      <div class="w-full p-4">
        <div class="font-bold">Targets</div>
      </div>
      <div class="overflow-hidden rounded-lg p-4">
        <div class="max-h-40 overflow-y-scroll">
          <div class="flex w-full justify-between">
            <div class="font-bold">Weekly Daycare Visits Target:</div>
            <div><%= current_organisation.maximum_weekly_daycare_visits %></div>
          </div>
          <div class="flex w-full justify-between">
            <div class="font-bold">Daycare Visits Booked This Week:</div>
            <div><%= current_organisation.daycare_visits.this_week.count %></div>
          </div>
          <div class="flex w-full justify-between">
            <div class="font-bold">Half Day Visits:</div>
            <div><%= current_organisation.daycare_visits.this_week.where(duration: "half_day").count %></div>
          </div>
          <div class="flex w-full justify-between">
            <div class="font-bold pl-4">Full Day Visits:</div>
            <div><%= current_organisation.daycare_visits.this_week.where(duration: "full_day").count %></div>
          </div>
          <div class="flex w-full justify-between">
            <div class="font-bold">Daily Daycare Visits Target:</div>
            <div><%= current_organisation.maximum_daily_daycare_visits %></div>
          </div>
          <div class="flex w-full justify-between">
            <div class="font-bold">Daycare Visits Booked Today:</div>
            <div><%= current_organisation.daycare_visits.today.count %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full bg-white border border-gray-200 rounded-lg">
      <div class="w-full p-4">
        <div class="font-bold">Customer Packages</div>
      </div>
      <div class="overflow-hidden rounded-lg">
        <div class="max-h-40 overflow-y-scroll">
          <table class="w-full">
            <thead>
              <tr class="bg-gray-300 text-left sticky top-0">
                <th class="p-2">User</th>
                <th class="p-2">Daycare Visits Remaining</th>
                <th class="p-2">Actions</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% current_organisation.users.customers.each do |customer| %>
                <tr class="bg-gray-50 text-left">
                  <td class="p-2"><%= customer.full_name %></td>
                  <td class="p-2"><%= customer.max_daycare_visits %></td>
                  <td class="p-2">
                    <%= link_to desktop_user_booking_settings_edit_path(customer) do %>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                      </svg>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>