<div class="w-full p-4 space-y-4 overflow-y-scroll h-[85vh]">
  <div class="font-bold text-2xl">Book A Daycare Visit</div>
  <%= form_for DaycareVisit.new, url: create_daycare_visits_path do |f| %>
    <%= f.hidden_field :origin, value: "desktop"%>
    <div class="space-y-4">
      <div>
        <%= f.label :pet_id, "Pet" %>
        <%= f.select(:pet_id, options_for_select(@pets.map{|pet| [pet.name, pet.id]}), { prompt: 'Select' }, { required: true, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4" }) %>
      </div>
      <div>
        <%= f.label :date, "Request Date" %>
        <%= f.date_field :date, required: true, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4" %>
      </div>
      <div>
        <%= f.label :time, "Dropoff Time" %>
        <%= f.time_field :time, required: true, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4" %>
      </div>
      <div>
        <%= f.label :duration, "Half or Full Day Visit?", class: "text-xl mb-2" %>
        <div>
          <%= f.radio_button :duration, :half_day, id: "duration_half_day", required: true %>
          <%= f.label :half_day, "Half Day", class: "text-lg", for: "duration_half_day" %>
        </div>
        <div>
          <%= f.radio_button :duration, :full_day, id: "duration_full_day", required: true %>
          <%= f.label :full_day, "Full Day", class: "text-lg", for: "duration_full_day" %>
        </div>
      </div>
      <div>
        <%= f.label :notes, "Additional Grooming Notes" %>
        <%= f.text_area :notes, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4", rows: 3, placeholder: "Write any notes here" %>
      </div>
      <button type="submit" class="bg-blue-800 w-full text-white font-bold p-4 rounded-lg flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        Create Request
      </button>
    </div>
  <% end %>
</div>