<div class="m-2">
  <%= form_with url: update_pet_breed_onboarding_path(@pet) do |f| %>
    <div class="text-center mb-8">
      <div class="text-yellow-200 text-4xl">Breed</div>
      <div class="text-white text-2xl mt-4">Tell us about <%= @pet.name %>'s breed</div>
    </div>
    <div class="w-full mb-4">
      <%= f.label :breed, "Breed", class: "block text-xl font-semibold mb-2 text-yellow-200" %>
      <%= f.text_field :breed, required: true, class: "bg-black border-2 border-yellow-200 rounded-2xl text-white text-4xl p-4 font-bold w-full" %>
    </div>
    <%= f.submit "Next!", class: "mt-2 text-white text-4xl underline" %>
  <% end %>
</div>