<div class="m-2">
  <%= form_with url: update_pet_dob_onboarding_path(@pet) do |f| %>
    <div class="text-center mb-8">
      <div class="text-yellow-200 text-4xl">Birthday</div>
      <div class="text-white text-2xl mt-4">When is <%= @pet.name %>'s birthday?</div>
    </div>
    <div class="w-full mb-4">
      <%= f.label :dob, "Birthday", class: "block text-xl font-semibold mb-2 text-yellow-200" %>
      <%= f.date_field :dob, required: true, class: "bg-black text-white border-2 border-yellow-200 rounded-2xl text-4xl p-4 font-bold w-full" %>
    </div>
    <%= f.submit "Next!", class: "mt-2 text-white text-4xl underline" %>
  <% end %>
</div>