<style>
  .input-label {
    position: absolute;
    right: 4px;
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Center adjustment */
    transition: transform 0.2s ease, top 0.2s ease;
    color: #FEF08A; /* Change color to match your design */
    pointer-events: none; /* Prevent pointer events on label */
    font-size: 24px;
  }

  /* Slider Track with Text */
  .slider-container {
    position: absolute; /* Change position to absolute */
    bottom: 20px; /* Position from the bottom of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Centering correction */
    width: 100%; /* Full width */
    max-width: 500px; /* Max width */
  }
</style>
<div class="m-2">
  <%= form_with url: update_pet_health_conditions_onboarding_path(@pet), id: "petHealthForm" do |f| %>
    <div class="text-center mb-8 mt-12">
      <div class="text-yellow-200 text-4xl">Health</div>
      <div class="text-gray-400 text-2xl mt-4">Does <%= @pet.name %> have any health problems?</div>
    </div>
    <div class="w-full mb-4 mt-24">
      <%= f.label :health_conditions, "Share health history", class: "block text-xl font-semibold mb-2 text-yellow-200" %>
      <%= f.text_area :health_conditions, required: true, rows: 5, placeholder: "#{@pet.name}...", class: "bg-black border-2 border-yellow-200 rounded-2xl text-white text-2xl p-4 font-bold w-full" %>
    </div>
    <div class="p-8">
      <%= f.submit "Next", class: "w-full bg-blue-800 p-4 rounded-lg text-white" %>
    </div>
    <div class="slider-container mt-32 px-8">
      <div class="mt-12 flex space-x-1 mx-12">
        <div class="w-full h-1 bg-yellow-200"></div>
        <div class="w-full h-1 bg-yellow-200"></div>
        <div class="w-full h-1 bg-yellow-200"></div>
        <div class="w-full h-1 bg-yellow-200"></div>
        <div class="w-full h-1 bg-yellow-200"></div>
        <div class="w-full h-1 bg-yellow-200"></div>
        <div class="w-full h-1 bg-yellow-200"></div>
      </div>
    </div>
  <% end %>
</div>
<script>
  var slider = document.getElementById("myRange");
  var form = document.getElementById("petHealthForm");

  slider.oninput = function() {
    if (this.value == this.max) {
      // Submit the form when the slider reaches the max value
      Turbo.navigator.submitForm(document.getElementById("petHealthForm"));
    }
  }
</script>