<style>
  /* Slider Track with Text */
  .slider-container {
    position: fixed; /* Change to fixed to position relative to the viewport */
    bottom: 20px; /* Position it 20px from the bottom of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Centering correction */
    width: 100%; /* Full width */
    max-width: 500px; /* Max width */
  }
</style>

<div class="m-2">
  <%= form_with url: update_pet_name_onboarding_path(@pet), id: "petNameForm" do |f| %>
    <div class="text-center mb-8">
      <div class="text-yellow-200 text-4xl mt-12 font-bold">What is your <%= @pet.species %>'s name?</div>
    </div>
    <div class="w-full mt-24 px-12">
      <%= f.label :name, "Pet's Name", class: "block text-xl font-semibold mb-2 text-yellow-200" %>
      <%= f.text_field :name, required: true, class: "bg-black border-2 border-yellow-200 rounded-2xl text-white text-4xl p-4 font-bold w-full" %>
    </div>
    <div class="p-8">
      <%= f.submit "Next", class: "w-full bg-blue-800 p-4 rounded-lg text-white" %>
    </div>
    <div class="slider-container px-8">
      <div class="mt-12 flex space-x-1 mx-12">
        <div class="w-full h-1 bg-yellow-200"></div>
        <div class="w-full h-1 bg-yellow-200"></div>
        <div class="w-full h-1 bg-gray-400"></div>
        <div class="w-full h-1 bg-gray-400"></div>
        <div class="w-full h-1 bg-gray-400"></div>
        <div class="w-full h-1 bg-gray-400"></div>
        <div class="w-full h-1 bg-gray-400"></div>
      </div>
    </div>
  <% end %>
</div>

<script>
  var slider = document.getElementById("myRange");
  var form = document.getElementById("petNameForm");

  slider.oninput = function() {
    if (this.value == this.max) {
      // Submit the form when the slider reaches the max value
      Turbo.navigator.submitForm(document.getElementById("petNameForm"));
    }
  }
</script>
