<div class="m-2">
  <%= form_with url: update_pet_weight_onboarding_path(@pet) do |f| %>
    <div class="text-center mb-8">
      <div class="text-yellow-200 text-4xl">Weight</div>
      <div class="text-white text-2xl mt-4">How much does <%= @pet.name %> weigh?</div>
    </div>
    <div class="w-full mb-4">
      <%= f.label :name, "Weight(lbs)", class: "block text-xl font-semibold mb-2 text-yellow-200" %>
      <%= f.number_field :weight, required: true, step: "0.01", class: "bg-black text-white border-x-0 border-t-0 w-full text-4xl p-4 font-bold" %>
    </div>
    <%= f.submit "Next!", class: "mt-2 text-white text-4xl underline" %>
  <% end %>
</div>