<div class="mx-4 text-white space-y-4">
  <div class="flex space-x-8">
    <%= link_to settings_path, class: "pt-2" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
      </svg>
    <% end %>
    <div class="text-white text-4xl font-thin pt-2 pb-4">Reset Password</div>
  </div>
  <%= form_with url: update_password_path do |f| %>
    <div class="space-y-12 text-left">
      <div>
        <div class="flex">
          <%= f.label :old_password, class: "text-xl mb-2" %>
          <div class="text-red-500">*</div>
        </div>
        <%= f.password_field :old_password, required: true, class: "bg-black text-white border-x-0 border-t-0 w-full text-xl" %>
      </div>
      <div>
        <div class="flex">
          <%= f.label :new_password, class: "text-xl mb-2" %>
          <div class="text-red-500">*</div>
        </div>
        <%= f.password_field :new_password, required: true, class: "bg-black text-white border-x-0 border-t-0 w-full text-xl" %>
      </div>
      <div>
        <div class="flex">
          <%= f.label :password_confirmation, class: "text-xl mb-2" %>
          <div class="text-red-500">*</div>
        </div>
        <%= f.password_field :password_confirmation, required: true, class: "bg-black text-white border-x-0 border-t-0 w-full text-xl" %>
      </div>
      <%= f.submit "Reset Password", class: "bg-white w-full text-black font-bold p-4 rounded-lg" %>
    </div>
  <% end %>
</div>