<div class="m-1 space-y-2 text-white">
  <div class="text-white text-4xl"><%= @category.name %></div>
  <div class="font-light"><%= @category.description %></div>
  <% if @category.products.any? %>
    <div class="grid grid-cols-2 gap-4">
      <% @category.products.each do |product| %>
        <div class="col-span-1 bg-blue-200 rounded-2xl text-black">
          <div class="h-32">
            <% if product.images.any? %>
              <img src="<%= url_for(product.images.first.image) %>" alt="<%= product.name %>" class="h-full w-full">
            <% end %>
          </div>
          <div class="flex flex-col justify-end">
            <div class="bg-white p-2 rounded-b-2xl">
              <div><%= product.name %></div>
              <div class="font-bold mb-2"><%= product.brand %></div>
              <div class="font-bold">$<%= product.price %></div>
              <hr class="my-2" />
              <div class="flex justify-center font-bold text-white">
                <%= link_to product_path(product) do %>
                  <div class="bg-blue-700 p-1 rounded-2xl px-4">BUY NOW</div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="text-white text-4xl font-thin pt-8">No products available in this category</div>
  <% end %>
</div>