<div class="mx-1 space-y-2">
  <%# <div class="flex space-x-2 my-2">
    <div class="relative w-full">
      <input type="text" placeholder="Search Product" class="pl-10 pr-4 py-2 bg-white rounded-full h-16 w-full">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-400">
          <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
        </svg>

      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-14 p-2 bg-violet-400 rounded-full my-1">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
  </div> %>
  <% if current_organisation.categories.any? %>
    <div class="text-white text-4xl font-thin mx-2 pt-2">Categories</div>
  <% end %>
  <div class="grid grid-cols-2 gap-4">
    <% current_organisation.categories.first(3).each_with_index do |category, index| %>
      <% col_span_class = index != 2 ? 'col-span-1' : 'col-span-2' %>
      <%= link_to category_path(category), class: "relative bg-black #{col_span_class} h-56 rounded-2xl overflow-hidden" do %>
        <% if category.images.any? %>
          <img src="<%= url_for(category.images.first.image) %>" alt="<%= category.name %>" class="absolute inset-0 h-full w-full object-cover z-0 opacity-70">
          <div class="relative z-10 p-2 font-bold text-white text-2xl">
            <%= category.name %>
          </div>
        <% else %>
          <div class="bg-amber-300 #{col_span_class} h-56 rounded-2xl p-2">
            <div class="font-bold text-white text-2xl"><%= category.name %></div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="pt-8 text-white text-4xl font-thin mx-2">Tailored for <%= current_pet.name %></div>
  <% if current_organisation.products.any? %>
    <div class="grid grid-cols-2 gap-4">
      <% current_organisation.products.first(4).each do |product| %>
        <div class="col-span-1 bg-blue-200 rounded-2xl">
          <div class="h-32">
            <% if product.images.any? %>
              <img src="<%= url_for(product.images.first.image) %>" alt="<%= product.name %>" class="h-full w-full">
            <% end %>
          </div>
          <div class="flex flex-col justify-end">
            <div class="bg-white p-2 rounded-b-2xl">
              <div><%= product.name %></div>
              <div class="font-bold mb-2"><%= product.brand %></div>
              <div class="font-bold">$<%= product.price %></div>
              <hr class="my-2" />
              <div class="flex justify-center font-bold text-white">
                <%= link_to product_path(product) do %>
                  <div class="bg-blue-700 p-1 rounded-2xl px-4">BUY NOW</div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="text-white mx-4 text-lg">Products coming soon!</div>
  <% end %>
</div>