<div class="m-4 space-y-12 text-white">
  <div class="text-3xl">Settings</div>
  <%= form_for current_user, url: employee_app_update_user_settings_path(current_user) do |f| %>
    <div class="space-y-12 text-left">
      <% if current_user.images&.order(:created_at)&.first&.image.present? %>
        <img src="<%= url_for(current_user.images.order(:created_at).first.image) %>" alt="<%= current_user.first_name %>" class="rounded-2xl max-h-80 w-full flex flex-col justify-end mb-8">
      <% end %>
      <div>
        <%= f.label :first_name, class: "text-xl mb-2" %>
        <%= f.text_field :first_name, required: true, class: "bg-black text-white border-x-0 border-t-0 w-full text-xl" %>
      </div>
      <div>
        <%= f.label :last_name, class: "text-xl mb-2" %>
        <%= f.text_field :last_name, required: true, class: "bg-black text-white border-x-0 border-t-0 w-full text-xl" %>
      </div>
      <div>
        <%= f.label :email, class: "text-xl mb-2" %>
        <%= f.email_field :email, required: true, class: "bg-black text-white border-x-0 border-t-0 w-full text-xl" %>
      </div>
      <div>
        <%= f.label :phone, class: "text-xl mb-2" %>
        <%= f.telephone_field :phone, required: true, class: "bg-black text-white border-x-0 border-t-0 w-full text-xl" %>
      </div>
      <%= f.submit "Update Account", class: "bg-white w-full text-black font-bold p-4 rounded-lg" %>
    </div>
  <% end %>
  <%= link_to destroy_session_path do %>
    <div class="bg-white w-full text-black font-bold p-4 rounded-lg text-center mt-4">Log Out</div>
  <% end %>
</div>