<div class="space-y-12 h-[85vh] overflow-y-scroll p-4">
  <div class="flex space-x-4 items-center">
    <div class="font-bold text-2xl">Administration</div>
    <%= link_to desktop_organisation_settings_path do %>
      <div class="bg-white p-2 rounded-lg">Company Profile</div>
    <% end %>
    <%= link_to desktop_staff_settings_path do %>
      <div class="p-2 rounded-lg">Staff Management</div>
    <% end %>
    <%= link_to desktop_user_settings_path do %>
      <div class="p-2 rounded-lg">User Profile</div>
    <% end %>
  </div>
  <%= form_for current_organisation, url: update_desktop_organisation_settings_path, method: :patch do |f| %>
    <div class="space-y-4">
      <div class="space-y-8 w-full bg-white rounded-lg p-4">
        <div class="flex space-x-4">
          <div class="w-1/3">
            <div class="text-blue-900 font-bold">Company Information</div>
            <div class="text-sm font-thin">Your company details</div>
          </div>
          <div class="w-full space-y-4">
            <div>
              <%= f.label :name %>
              <%= f.text_field :name, required: true, class: "border w-full rounded-lg p-2" %>
            </div>
            <div>
              <%= f.label :email %>
              <%= f.email_field :email, class: "border w-full rounded-lg p-2" %>
            </div>
            <div>
              <%= f.label :phone %>
              <%= f.telephone_field :phone, class: "border w-full rounded-lg p-2" %>
            </div>
          </div>
        </div>
        <div class="flex space-x-4">
          <div class="w-1/3">
            <div class="text-blue-900 font-bold">Company Address</div>
            <div class="text-sm font-thin">Where is your business located</div>
          </div>
          <div class="w-full space-y-4">
            <div>
              <%= f.label :address %>
              <%= f.text_field :address, class: "border w-full rounded-lg p-2" %>
            </div>
            <div>
              <%= f.label :city %>
              <%= f.text_field :city, class: "border w-full rounded-lg p-2" %>
            </div>
            <div>
              <%= f.label :postcode %>
              <%= f.text_field :postcode, class: "border w-full rounded-lg p-2" %>
            </div>
          </div>
        </div>
        <div class="flex space-x-4">
          <div class="w-1/3">
            <div class="text-blue-900 font-bold">Booking Settings</div>
            <div class="text-sm font-thin">Configure your booking limits</div>
          </div>
          <div class="w-full space-y-4">
            <div>
              <%= f.label :maximum_daily_daycare_visits, "Maximum Daily Daycare Visits" %>
              <%= f.number_field :maximum_daily_daycare_visits, required: true, step: 0, value: current_organisation.maximum_daily_daycare_visits, class: "bg-white text-black w-full rounded-lg p-4" %>
            </div>
            <div>
              <%= f.label :maximum_weekly_daycare_visits, "Maximum Weekly Daycare Visits" %>
              <%= f.number_field :maximum_weekly_daycare_visits, required: true, step: 0, value: current_organisation.maximum_weekly_daycare_visits, class: "bg-white text-black w-full rounded-lg p-4" %>
            </div>
            <div>
              <%= f.label :maximum_daily_grooms, "Maximum Daily Grooms" %>
              <%= f.number_field :maximum_daily_grooms, required: true, step: 0, value: current_organisation.maximum_daily_grooms, class: "bg-white text-black w-full rounded-lg p-4" %>
            </div>
            <div>
              <%= f.label :maximum_weekly_grooms, "Maximum Weekly Grooms" %>
              <%= f.number_field :maximum_weekly_grooms, required: true, step: 0, value: current_organisation.maximum_weekly_grooms, class: "bg-white text-black w-full rounded-lg p-4" %>
            </div>
          </div>
        </div>
      </div>
      <div class="font-thin px-8">+ Last Save: <%= current_organisation.updated_at.strftime('%d %b %Y') %></div>
      <div class="flex justify-center">
        <button type="submit" class="bg-blue-500 text-white font-bold p-2 px-8 rounded-lg flex items-center justify-center">
          Update Details
        </button>
      </div>
    </div>
  <% end %>
</div>