<div class="space-y-12 h-[85vh] overflow-y-scroll p-4">
  <div class="flex space-x-4">
    <%= link_to desktop_settings_path do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
        <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
    <% end %>
    <div class="font-bold text-2xl">Company Profile</div>
  </div>
  <%= form_for current_organisation, url: update_desktop_organisation_settings_path, method: :patch do |f| %>
    <div class="space-y-4 w-full">
      <div class="text-xl w-full border-l-0 border-r-0 border p-2">Details</div>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name, required: true, class: "border w-full rounded-lg p-2" %>
      </div>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, class: "border w-full rounded-lg p-2" %>
      </div>
      <div>
        <%= f.label :phone %>
        <%= f.telephone_field :phone, class: "border w-full rounded-lg p-2" %>
      </div>
      <div class="text-xl w-full border-l-0 border-r-0 border p-2">Address</div>
      <div>
        <%= f.label :address %>
        <%= f.text_field :address, class: "border w-full rounded-lg p-2" %>
      </div>
      <div>
        <%= f.label :city %>
        <%= f.text_field :city, class: "border w-full rounded-lg p-2" %>
      </div>
      <div>
        <%= f.label :postcode %>
        <%= f.text_field :postcode, class: "border w-full rounded-lg p-2" %>
      </div>
      <button type="submit" class="bg-blue-800 w-full text-white font-bold p-4 rounded-lg flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        Update Details
      </button>
    </div>
  <% end %>
  <%= form_with url: desktop_daycare_visits_settings_update_path do |f| %>
    <div class="text-xl w-full border-l-0 border-r-0 border p-2">Grooming Settings</div>
    <div class="p-2">
      <%= f.label :maximum_daily_daycare_visits, "Maximum Daily Daycare Visits" %>
      <%= f.number_field :maximum_daily_daycare_visits, required: true, step: 0, value: current_organisation.maximum_daily_daycare_visits, class: "bg-white text-black w-full rounded-lg p-4" %>
    </div>
    <div class="p-2">
      <%= f.label :maximum_weekly_daycare_visits, "Maximum Weekly Daycare Visits" %>
      <%= f.number_field :maximum_weekly_daycare_visits, required: true, step: 0, value: current_organisation.maximum_weekly_daycare_visits, class: "bg-white text-black w-full rounded-lg p-4" %>
    </div>
    <div class="p-2">
      <button type="submit" class="bg-blue-800 w-full text-white font-bold p-4 rounded-lg flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        Update Settings
      </button>
    </div>
  <% end %>
  <%= form_with url: desktop_groom_settings_update_path do |f| %>
    <div class="text-xl w-full border-l-0 border-r-0 border p-2">Daycare Visit Settings</div>
    <div class="p-2">
      <%= f.label :maximum_daily_grooms, "Maximum Daily Grooms" %>
      <%= f.number_field :maximum_daily_grooms, required: true, step: 0, value: current_organisation.maximum_daily_grooms, class: "bg-white text-black w-full rounded-lg p-4" %>
    </div>
    <div class="p-2">
      <%= f.label :maximum_weekly_grooms, "Maximum Weekly Grooms" %>
      <%= f.number_field :maximum_weekly_grooms, required: true, step: 0, value: current_organisation.maximum_weekly_grooms, class: "bg-white text-black w-full rounded-lg p-4" %>
    </div>
    <div class="p-2">
      <button type="submit" class="bg-blue-800 w-full text-white font-bold p-4 rounded-lg flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        Update Settings
      </button>
    </div>
  <% end %>
</div>