<% flash.each do |type, msg| %>
  <div class="text-red-500 border-red-500 w-full p-2 border-2 rounded-lg">
    <%= msg %>
  </div>
<% end %>
<div class="bg-white flex w-full h-[85vh]">
  <div class="w-[30vw] bg-gray-200 p-4">
    <div class="font-bold text-xl">Customers</div>
    <div class="space-y-4 py-4">
      <% @users.each do |user| %>
        <% if @user == user %>
          <%= link_to desktop_user_path(user) do %>
            <div class="bg-white p-2 rounded-lg flex items-center space-x-4">
              <% if user.images&.order(:created_at)&.first&.image.present? %>
                <img src="<%= url_for(user.images.order(:created_at).first.image) %>" alt="<%= user.first_name %>" class="rounded-2xl max-h-8 max-w-8">
              <% end %>
              <span><%= user.full_name %></span>
            </div>
          <% end %>
        <% else %>
          <%= link_to desktop_user_path(user) do %>
            <div class="hover:bg-white p-2 rounded-lg flex items-center space-x-4">
              <% if user.images&.order(:created_at)&.first&.image.present? %>
                <img src="<%= url_for(user.images.order(:created_at).first.image) %>" alt="<%= user.first_name %>" class="rounded-full max-h-8 max-w-8">
              <% end %>
              <span><%= user.full_name %></span>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="w-full p-4 space-y-4 overflow-y-scroll">
    <div class="text-xl font-bold">Booking Settings</div>
    <%= form_for @user, url: desktop_user_update_path(@user), method: :patch do |f| %>
      <%= f.hidden_field :id %>
      <div class="space-y-4">
        <div>
          <%= f.label :max_daycare_visits, "Daycare Visits Available" %>
          <%= f.text_field :max_daycare_visits, required: true, class: "border w-full rounded-lg p-2" %>
        </div>
        <button type="submit" class="bg-blue-800 w-full text-white font-bold p-4 rounded-lg flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
          Update Settings
        </button>
      </div>
    <% end%>
    <%= link_to desktop_user_path(@user), class: "bg-white w-full border font-bold p-4 rounded-lg flex items-center justify-center" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
      Cancel
    <% end %>
  </div>
</div>