<div class="mx-4 text-white space-y-4">
  <div class="flex items-center mt-12 justify-between">
    <div class="flex space-x-4">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-10 h-10 p-1 bg-white text-black rounded-full">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.325.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 0 1 1.37.49l1.296 2.247a1.125 1.125 0 0 1-.26 1.431l-1.003.827c-.293.241-.438.613-.43.992a7.723 7.723 0 0 1 0 .255c-.008.378.137.75.43.991l1.004.827c.424.35.534.955.26 1.43l-1.298 2.247a1.125 1.125 0 0 1-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.47 6.47 0 0 1-.22.128c-.331.183-.581.495-.644.869l-.213 1.281c-.09.543-.56.94-1.11.94h-2.594c-.55 0-1.019-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 0 1-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 0 1-1.369-.49l-1.297-2.247a1.125 1.125 0 0 1 .26-1.431l1.004-.827c.292-.24.437-.613.43-.991a6.932 6.932 0 0 1 0-.255c.007-.38-.138-.751-.43-.992l-1.004-.827a1.125 1.125 0 0 1-.26-1.43l1.297-2.247a1.125 1.125 0 0 1 1.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.086.22-.128.332-.183.582-.495.644-.869l.214-1.28Z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
      </svg>
      <div class="text-white text-4xl font-bold">Settings</div>
    </div>
    <%= link_to current_pet_profile_path do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 text-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    <% end %>
  </div>
  <div class="absolute bottom-0 left-0 mb-[20vh] w-full px-4">
    <div class="space-y-4">
      <div class="ml-20">
        <%= link_to pet_profiles_path, class: "text-2xl font-thin" do %>
          Pet Profiles
        <% end %>
      </div>
      <div class="ml-20">
        <%= link_to user_profile_path, class: "text-2xl font-thin" do %>
          Your Profile
        <% end %>
      </div>
    </div>
    <div class="h-[10vh]"></div>
    <div class="flex items-center space-x-4">
      <% if current_pet.images.any? %>
        <img src="<%= url_for(current_pet.images.order(:created_at).last.image) %>" alt="<%= current_pet.name %>" class="h-14 w-14 rounded-full flex flex-col justify-end">
      <% elsif current_pet.images.none? && current_pet.dog? %>
        <%= image_tag "/app_images/backup_dog.jpg", class: "h-14 w-14 rounded-full flex flex-col justify-end" %>
      <% elsif current_pet.images.none? && current_pet.cat? %>
        <%= image_tag "/app_images/backup_cat.jpg", class: "h-14 w-14 rounded-full flex flex-col justify-end" %>
      <% else %>
        <%= image_tag "/app_images/backup_user.png", class: "h-14 w-14 rounded-full flex flex-col justify-end" %>
      <% end %>
      <%= link_to pet_selection_path, class: "text-xl font-thin" do %>
        Switch Pet Account
      <% end %>
    </div>
    <div class="h-[12vh]"></div>
    <div class="flex justify-between">
      <div class="flex items-center space-x-4">
        <% if current_user.images.any? %>
          <img src="<%= url_for(current_user.images.order(:created_at).last.image) %>" alt="<%= current_user.first_name %>" class="h-14 w-14 rounded-full flex flex-col justify-end">
        <% end %>
        <div class="text-lg font-thin"><%= current_user.first_name %> <%= current_user.last_name %></div>
      </div>
      <%= link_to destroy_session_path, class: "text-lg font-thin underline" do %>
        Sign Out
      <% end %>
    </div>
    <div class="h-[4vh]"></div>
  </div>
</div>