<div class="mx-4 text-white space-y-4 pt-12">
  <div class="flex space-x-8">
    <%= link_to settings_path do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
      </svg>
    <% end %>
    <div class="flex items-center space-x-2 pb-8">
      <svg width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke="currentColor" class="w-10 h-10 p-1 bg-white text-black rounded-full">
        <path d="M18.1928 -0.000237995H11.8074C5.29676 -0.000237995 0 5.17784 0 11.5422V12.1393C0 14.2809 1.48274 16.1452 3.60688 16.6736L5.58458 17.1626C5.50102 16.6086 5.49045 16.0374 5.49595 15.4566L4.01756 15.091C2.63542 14.7472 1.67018 13.5335 1.67018 12.1393V11.5422C1.67018 6.07785 6.21764 1.63251 11.8074 1.63251H18.1928C23.7824 1.63251 28.3298 6.07785 28.3298 11.5422V12.1393C28.3298 13.5335 27.3646 14.7472 25.9836 15.0907L25.2231 15.2788C25.1554 15.8718 25.0604 16.4593 24.9205 17.0379L26.3943 16.6733C28.5172 16.1452 30 14.2809 30 12.1393V11.5422C30 5.17784 24.7033 -0.000237995 18.1928 -0.000237995" fill="#FFFFFF"/>
        <path d="M15.3026 25H14.7905C9.13406 25 4.53223 20.5016 4.53223 14.972V8.24015C4.53223 7.78919 4.90613 7.42394 5.36728 7.42394C5.82844 7.42394 6.20238 7.78919 6.20238 8.24015V14.972C6.20238 19.6012 10.0549 23.3673 14.7905 23.3673H15.3026C20.0381 23.3673 23.8907 19.6012 23.8907 14.972V8.24015C23.8907 7.78919 24.2646 7.42394 24.7258 7.42394C25.187 7.42394 25.5609 7.78919 25.5609 8.24015V14.972C25.5609 20.5016 20.959 25 15.3026 25" fill="#FFFFFF"/>
        <path d="M10.5236 10.4554C11.3941 10.6163 11.9515 11.5147 11.7685 12.462C11.5854 13.4097 10.7313 14.0474 9.86072 13.8869C8.99017 13.726 8.43282 12.8276 8.61584 11.8803C8.79886 10.9326 9.653 10.2948 10.5236 10.4554Z" fill="#FFFFFF"/>
        <path d="M19.5702 10.4554C18.6996 10.6163 18.1423 11.5147 18.3253 12.462C18.5083 13.4097 19.3625 14.0474 20.233 13.8869C21.1036 13.726 21.6609 12.8276 21.4779 11.8803C21.2949 10.9326 20.4408 10.2948 19.5702 10.4554Z" fill="#FFFFFF"/>
        <path d="M15 16.8544C16.3592 16.8544 17.461 17.2215 17.461 17.9552C17.461 18.9339 16.3592 19.9126 15 19.9126C13.6408 19.9126 12.5391 18.9339 12.5391 17.9552C12.5391 17.2215 13.6408 16.8544 15 16.8544Z" fill="#FFFFFF"/>
      </svg>
      <div class="text-white text-4xl font-thin">Switch Pet</div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4 overflow-y-scroll max-h-[66vh] scrollbar-gutter-stable">
    <% color_classes = ["bg-red-500", "bg-green-500", "bg-blue-500", "bg-yellow-500", "bg-purple-500", "bg-pink-500"] %>
    <% current_user.pets.each do |pet| %> <!-- Add loop to iterate over pets -->
      <div class="text-center items-center p-2 rounded-2xl text-black border-black border-2 <%= color_classes.sample %>">
        <img src="<%= url_for(pet&.images&.order(:created_at)&.last&.image) %>" alt="<%= pet.name %>" class="border-black border-2 rounded-2xl h-40 w-full object-cover flex flex-col justify-end">
        <div class="font-bold"><%= pet.name %></div>
        <%= link_to pet_profile_path(pet), class: "w-full flex justify-center items-center space-x-2 border border-black rounded text-center mt-6 py-1" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
          </svg>
          <div class="font-light">Edit Profile</div>
        <% end %>
        <% if current_pet == pet %>
          <div class="w-full flex justify-center items-center space-x-2 border border-black rounded text-center mt-4 py-1">
            <div class="font-bold">Current Pet</div>
          </div>
        <% else %>
          <%= button_to set_current_pet_path(pet), class: "w-full flex justify-center items-center space-x-2 border border-black rounded text-center mt-4 py-1" do %>
            <div class="font-light">Set as current pet</div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="absolute bottom-0 left-0 mb-[20vh] w-full px-4">
    <%= link_to new_pet_onboarding_path, class: "w-full flex justify-center items-center space-x-2 border rounded-2xl text-center py-4" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
      <div class="font-light">Add New Pet</div>
    <% end %>
    <div class="h-[4vh]"></div>
  </div>
</div>
