<%= form_for @pet, url: update_pet_path(@pet) do |f| %>
  <div class="text-center m-4 text-white">
    <div class="flex space-x-4">
      <%= link_to pet_profiles_path do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
        </svg>
      <% end %>
      <div class="flex items-center space-x-2 pb-8">
        <svg width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke="currentColor" class="w-10 h-10 p-1 bg-white text-black rounded-full">
          <path d="M18.1928 -0.000237995H11.8074C5.29676 -0.000237995 0 5.17784 0 11.5422V12.1393C0 14.2809 1.48274 16.1452 3.60688 16.6736L5.58458 17.1626C5.50102 16.6086 5.49045 16.0374 5.49595 15.4566L4.01756 15.091C2.63542 14.7472 1.67018 13.5335 1.67018 12.1393V11.5422C1.67018 6.07785 6.21764 1.63251 11.8074 1.63251H18.1928C23.7824 1.63251 28.3298 6.07785 28.3298 11.5422V12.1393C28.3298 13.5335 27.3646 14.7472 25.9836 15.0907L25.2231 15.2788C25.1554 15.8718 25.0604 16.4593 24.9205 17.0379L26.3943 16.6733C28.5172 16.1452 30 14.2809 30 12.1393V11.5422C30 5.17784 24.7033 -0.000237995 18.1928 -0.000237995" fill="#FFFFFF"/>
          <path d="M15.3026 25H14.7905C9.13406 25 4.53223 20.5016 4.53223 14.972V8.24015C4.53223 7.78919 4.90613 7.42394 5.36728 7.42394C5.82844 7.42394 6.20238 7.78919 6.20238 8.24015V14.972C6.20238 19.6012 10.0549 23.3673 14.7905 23.3673H15.3026C20.0381 23.3673 23.8907 19.6012 23.8907 14.972V8.24015C23.8907 7.78919 24.2646 7.42394 24.7258 7.42394C25.187 7.42394 25.5609 7.78919 25.5609 8.24015V14.972C25.5609 20.5016 20.959 25 15.3026 25" fill="#FFFFFF"/>
          <path d="M10.5236 10.4554C11.3941 10.6163 11.9515 11.5147 11.7685 12.462C11.5854 13.4097 10.7313 14.0474 9.86072 13.8869C8.99017 13.726 8.43282 12.8276 8.61584 11.8803C8.79886 10.9326 9.653 10.2948 10.5236 10.4554Z" fill="#FFFFFF"/>
          <path d="M19.5702 10.4554C18.6996 10.6163 18.1423 11.5147 18.3253 12.462C18.5083 13.4097 19.3625 14.0474 20.233 13.8869C21.1036 13.726 21.6609 12.8276 21.4779 11.8803C21.2949 10.9326 20.4408 10.2948 19.5702 10.4554Z" fill="#FFFFFF"/>
          <path d="M15 16.8544C16.3592 16.8544 17.461 17.2215 17.461 17.9552C17.461 18.9339 16.3592 19.9126 15 19.9126C13.6408 19.9126 12.5391 18.9339 12.5391 17.9552C12.5391 17.2215 13.6408 16.8544 15 16.8544Z" fill="#FFFFFF"/>
        </svg>
        <div class="text-white text-4xl font-thin">Edit Profile</div>
      </div>
    </div>
    <div class="relative mb-8">
      <% if @pet.images.any? %>
        <img id="main-image" src="<%= url_for(@pet.images.order(:created_at).last.image) %>" alt="<%= @pet.name %>" class="rounded-2xl max-h-80 w-full flex flex-col justify-end">
      <% elsif @pet.images.none? && @pet.dog? %>
        <%= image_tag "/app_images/backup_dog.jpg", class: "rounded-2xl max-h-80 w-full flex flex-col justify-end", id: "main-image" %>
      <% elsif @pet.images.none? && @pet.cat? %>
        <%= image_tag "/app_images/backup_cat.jpg", class: "rounded-2xl max-h-80 w-full flex flex-col justify-end", id: "main-image" %>
      <% else %>
        <%= image_tag "/app_images/backup_user.png", class: "rounded-2xl max-h-80 w-full flex flex-col justify-end", id: "main-image" %>
      <% end %>
      <div class="absolute top-0 left-0 m-2">
        <%= f.file_field :image, id: 'file-input3', class: 'hidden', accept: 'image/jpeg,image/png,image/gif,image/webp' %>
        <label for="file-input3" class="flex items-center justify-center p-2 border-2 rounded-lg cursor-pointer bg-black text-white border-none">
          <div class="flex space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
            </svg>
            <div>Edit Photo</div>
          </div>
        </label>
      </div>
    </div>
    <div class="space-y-12 text-left">
      <div>
        <div class="flex">
          <%= f.label :name, class: "text-xl mb-2" %>
          <div class="text-red-500">*</div>
        </div>
        <%= f.text_field :name, required: true, class: "bg-black text-white border-x-0 border-t-0 w-full text-xl" %>
      </div>
      <div>
        <div class="flex">
          <%= f.label :species, class: "text-xl mb-2" %>
          <div class="text-red-500">*</div>
        </div>
        <%= f.select :species, options_for_select([['Dog', :dog], ['Cat', :cat]], f.object.species), { include_blank: false }, { class: 'bg-black text-white border-x-0 border-t-0 w-full text-xl' } %>
      </div>
      <div>
        <div class="flex">
          <%= f.label :gender, class: "text-xl mb-2" %>
          <div class="text-red-500">*</div>
        </div>
        <%= f.select :gender, options_for_select([['Male', :male], ['Female', :female]], f.object.gender), { include_blank: false }, { class: 'bg-black text-white border-x-0 border-t-0 w-full text-xl' } %>
      </div>
      <div>
        <div class="flex">
          <%= f.label :dob, "Birthday" %>
          <div class="text-red-500">*</div>
        </div>
        <%= f.date_field :dob, required: true, class: "bg-black text-white border-x-0 border-t-0 w-full text-xl" %>
      </div>
      <div>
        <div class="flex">
          <%= f.label :weight %>
          <div class="text-red-500">*</div>
        </div>
        <%= f.number_field :weight, required: true, step: 0, class: "bg-black text-white border-x-0 border-t-0 w-full text-xl" %>
      </div>
      <div>
        <div class="flex">
          <%= f.label :breed %>
          <div class="text-red-500">*</div>
        </div>
        <%= f.text_field :breed, required: true, class: "bg-black text-white border-x-0 border-t-0 w-full text-xl" %>
      </div>
      <div>
        <%= f.label :health_conditions, "Health" %>
        <%= f.text_area :health_conditions, class: "bg-black text-white border-x-0 border-t-0 w-full text-xl" %>
      </div>
      <button type="submit" class="bg-white w-full text-black font-bold p-4 rounded-lg flex items-center justify-center space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-black">
          <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
        </svg>
        <div>Update Pet</div>
      </button>
    </div>
  </div>
<% end %>
<div class="text-white underline font-bold text-center mt-4 w-full" onclick="openDeleteModal()">Delete Account</div>
<div id="overlay" class="fixed top-0 left-0 w-screen h-screen bg-gray-900 bg-opacity-75 backdrop-blur-sm hidden" onclick="closeModals()"></div>
<div id="deleteModal" class="fixed bottom-0 left-0 w-full bg-black overflow-hidden transition-all duration-500 z-20 rounded-t-xl" style="height: 0;">
  <div class="text-center text-2xl font-bold text-white mt-4">Delete Pet</div>
  <div class="text-center text-white font-thin p-4">Please confirm you want to delete your pet</div>

  <div class="p-2 pb-8">
    <div class="bg-black text-yellow-200 border-2 border-yellow-200 font-bold p-4 rounded-lg text-center m-8 w-3/4 mx-auto" onclick="closeModals()">
      Cancel
    </div>
    <%= button_to delete_pet_path(@pet), method: :delete, class: "w-full" do %>
      <div class="bg-red-500 text-white font-bold p-4 rounded-lg flex items-center justify-center space-x-2 w-3/4 mx-auto">
        Delete Account
      </div>
    <% end %>
  </div>
</div>


<script>
  function openDeleteModal() {
    const sidenav = document.getElementById("deleteModal");
    document.getElementById("overlay").classList.remove("hidden");
    sidenav.style.height = "auto";
    const height = sidenav.scrollHeight + "px"; 
    sidenav.style.height = "0";
    requestAnimationFrame(() => {
      sidenav.style.height = height;
    });
    sidenav.style.transition = "height 0.5s ease"; 
  }

  function closeModals() {
    document.getElementById("overlay").classList.add("hidden");
    document.getElementById("deleteModal").style.height = "0";
  }

  document.getElementById('file-input3').addEventListener('change', function() {
    const file = this.files[0];
    const mainImage = document.getElementById('main-image'); // Select the main image
    const preview = document.querySelector('.prev');
    const reader = new FileReader();

    reader.onload = function(e) {
      const newImageSrc = e.target.result;
      mainImage.src = newImageSrc; // Replace main image with new image
      preview.src = newImageSrc; // Set the preview as well, if needed
      preview.classList.remove('hidden'); // Show the preview
    }

    if (file) {
      reader.readAsDataURL(file);
    }
  });
</script>