<div class="mx-4 text-white space-y-4">
  <div class="flex space-x-8">
    <%= link_to settings_path, class: "pt-2" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
      </svg>
    <% end %>
    <div class="text-white text-4xl font-thin pt-2 pb-4">Pet Profiles</div>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <% current_user.pets.each do |pet| %>
      <div class="bg-green-500 text-center items-center p-2 rounded-2xl text-black">
        <img src="<%= url_for(pet&.images&.first&.image) %>" alt="<%= pet.name %>" class="bg-green-500 rounded-2xl max-h-80 w-full flex flex-col justify-end">
        <div class="font-bold"><%= pet.name %></div>
        <%= link_to pet_profile_path(pet), class: "w-full flex justify-center items-center space-x-2 border border-black rounded text-center mt-6 py-1" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
          </svg>
          <div class="font-light">Edit Profile</div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="absolute bottom-0 left-0 mb-[20vh] w-full px-4">
    <%= link_to new_pet_onboarding_path, class: "w-full flex justify-center items-center space-x-2 border rounded-2xl text-center py-4" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
      <div class="font-light">Add New Pet</div>
    <% end %>
    <div class="h-[12vh]"></div>
  </div>
</div>