<div class="mx-4 text-white space-y-4 mt-12">
  <div class="flex space-x-4">
    <%= link_to settings_path do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
      </svg>
    <% end %>
    <div class="flex items-center space-x-2 pb-8">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 p-1 bg-white text-black rounded-full">
        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
      </svg>
      <div class="text-white text-4xl font-thin">Edit Profile</div>
    </div>
  </div>
  <%= form_for current_user, url: update_user_path(current_user) do |f| %>
    <div class="space-y-4 text-left">
      <div class="relative mb-8">
        <% if current_user.images&.order(:created_at)&.first&.image.present? %>
          <img id="main-image" src="<%= url_for(current_user.images.order(:created_at).last.image) %>" alt="<%= current_user.first_name %>" class="rounded-2xl max-h-80 w-full flex flex-col justify-end">
        <% else %>
          <svg id="main-image" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.5" stroke="currentColor" class="rounded-2xl max-h-80 w-full flex flex-col justify-end">
            <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
          </svg>
        <% end %>
        <div class="absolute top-0 left-0 m-2">
          <%= f.file_field :image, id: 'file-input3', class: 'hidden', accept: 'image/jpeg,image/png,image/gif,image/webp' %>
          <label for="file-input3" class="flex items-center justify-center p-2 border-2 rounded-lg cursor-pointer bg-black text-white border-none" >
            <div class="flex space-x-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
              </svg>
              <div>Edit Photo</div>
            </div>
          </label>
        </div>
      </div>
      <div>
        <%= f.label :first_name, class: "text-xl mb-2 font-thin" %>
        <%= f.text_field :first_name, required: true, class: "bg-black text-white border-x-0 border-t-0 w-full text-xl" %>
      </div>
      <div>
        <%= f.label :last_name, class: "text-xl mb-2 font-thin" %>
        <%= f.text_field :last_name, required: true, class: "bg-black text-white border-x-0 border-t-0 w-full text-xl" %>
      </div>
      <div>
        <%= f.label :email, class: "text-xl mb-2 font-thin" %>
        <%= f.email_field :email, required: true, class: "bg-black text-white border-x-0 border-t-0 w-full text-xl" %>
      </div>
      <div>
        <%= f.label :phone, class: "text-xl mb-2 font-thin" %>
        <%= f.telephone_field :phone, required: true, class: "bg-black text-white border-x-0 border-t-0 w-full text-xl" %>
      </div>
      <div>
        <%= f.label :weight, class: "text-xl mb-2 font-thin" %>
        <%= f.number_field :weight, required: true, class: "bg-black text-white border-x-0 border-t-0 w-full text-xl" %>
      </div>
      <button type="submit" class="bg-white w-full text-black font-bold p-4 rounded-lg flex items-center justify-center space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-black">
          <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
        </svg>
        <div>Update Account</div>
      </button>
    </div>
  <% end %>
  <%= link_to reset_password_path, class: "w-full" do %>
    <div class="bg-black text-white border-2 border-white font-bold p-4 rounded-lg text-center mt-4">Change Password</div>
  <% end %>
  <div class="text-white underline font-bold text-center mt-4 w-full" onclick="openDeleteModal()">Delete Account</div>
</div>
<div id="overlay" class="fixed top-0 left-0 w-screen h-screen bg-gray-900 bg-opacity-75 backdrop-blur-sm hidden" onclick="closeModals()"></div>
<div id="deleteModal" class="fixed bottom-0 left-0 w-full bg-black overflow-hidden transition-all duration-500 z-20 rounded-t-xl" style="height: 0;">
  <div class="text-center text-2xl font-bold text-white mt-4">Delete Profile</div>
  <div class="text-center text-white font-thin p-4">Please confirm you want to delete this pet profile</div>

  <div class="p-2 pb-8">
    <div class="bg-black text-yellow-200 border-2 border-yellow-200 font-bold p-4 rounded-lg text-center m-8 w-3/4 mx-auto" onclick="closeModals()">
      Cancel
    </div>
    <%= button_to delete_user_path(current_user), method: :delete, class: "w-full" do %>
      <div class="bg-red-500 text-white font-bold p-4 rounded-lg flex items-center justify-center space-x-2 w-3/4 mx-auto">
        Delete Account
      </div>
    <% end %>
  </div>
</div>


<script>
  function openDeleteModal() {
    const sidenav = document.getElementById("deleteModal");
    document.getElementById("overlay").classList.remove("hidden");
    sidenav.style.height = "auto";
    const height = sidenav.scrollHeight + "px"; 
    sidenav.style.height = "0";
    requestAnimationFrame(() => {
      sidenav.style.height = height;
    });
    sidenav.style.transition = "height 0.5s ease"; 
  }

  function closeModals() {
    document.getElementById("overlay").classList.add("hidden");
    document.getElementById("deleteModal").style.height = "0";
  }

  document.getElementById('file-input3').addEventListener('change', function() {
    const file = this.files[0];
    
    if (!file) {
      console.log("No file selected");
      return;
    }

    const reader = new FileReader();

    reader.onload = function(e) {
      const newImageSrc = e.target.result;
      let mainImage = document.getElementById('main-image');

      // Check if mainImage is an <svg>
      if (mainImage.tagName === 'svg' || mainImage.tagName === 'SVG') {
        console.log("Replacing SVG with a new image element");

        // Create a new <img> element
        const imgElement = document.createElement('img');
        imgElement.id = 'main-image';
        imgElement.src = newImageSrc;
        imgElement.alt = 'New Image';
        imgElement.className = 'rounded-2xl max-h-80 w-full flex flex-col justify-end';

        // Replace the SVG with the new img element
        mainImage.replaceWith(imgElement);
      } else if (mainImage.tagName === 'img' || mainImage.tagName === 'IMG') {
        console.log("Updating existing image src");
        mainImage.src = newImageSrc;
      } else {
        console.error("Expected main-image element to be <img> or <svg>, but got:", mainImage.tagName);
      }
    };

    reader.onerror = function() {
      console.error("Error reading file:", reader.error);
    };

    reader.readAsDataURL(file);
  });
</script>