<div class="w-full p-4 space-y-4 overflow-y-scroll h-[85vh]">
  <div class="flex space-x-4 items-center">
    <div class="font-bold text-2xl">Groom</div>
    <%= link_to desktop_groom_images_path(@groom) do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
      </svg>
    <% end %>
  </div>
  <%= form_for @groom, url: desktop_groom_update_path do |f| %>
    <%= f.hidden_field :origin, value: "desktop"%>
    <div class="space-y-4">
      <div>
        <%= f.label :pet_id, "Pet" %>
        <%= f.hidden_field :pet_id, value: @groom.pet_id %>
        <div class="bg-white text-black border-x-0 border-t-0 w-full rounded-lg p-4"><%= @groom.pet.name %></div>
      </div>
      <% if @groom.status == "completed" %>
        <div>
          <%= f.label :date, "Request Date" %>
          <%= f.hidden_field :date, value: @groom.date %>
          <div class="bg-white text-black border-x-0 border-t-0 w-full rounded-lg p-4"><%= @groom.date %>
        </div>
      <% else %>
        <div>
          <%= f.label :date, "Request Date" %>
          <%= f.date_field :date, required: true, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4" %>
        </div>
      <% end %>
      <div>
        <%= f.label :time, "Request Time" %>
        <%= f.time_field :time, required: true, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4" %>
      </div>
      <div>
        <%= f.label :last_groom, "When Was Last Groom?" %>
        <%= f.date_field :last_groom, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4" %>
      </div>
      <div>
        <%= f.label :notes, "Additional Grooming Notes" %>
        <%= f.text_area :notes, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4", rows: 3, placeholder: "Write any notes here" %>
      </div>
      <div>
        <%= f.label :employee_id, "Employee" %>
        <%= f.select(:employee_id, options_for_select(current_organisation.users.employees_and_admins.map{|user| [user.full_name, user.id]}), { prompt: 'Select' }, { class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4" }) %>
      </div>
      <% unless @groom.status == "completed" %>
        <div>
          <%= f.label :status, "Status" %>
          <%= f.select(:status, options_for_select([["Pending", "pending"], ["Confirmed", "confirmed"], ["In Progress", "in_progress"], ["Completed", "completed"], ["Missed Appointment", "missed_appointment"]], selected: @groom.status), { prompt: 'Select' }, { required: true, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4" }) %>
        </div>
      <% end %>
      <button type="submit" class="bg-blue-800 w-full text-white font-bold p-4 rounded-lg flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        Update Request
      </button>
    </div>
  <% end %>
  <%= link_to desktop_grooms_path(@user), class: "bg-white w-full border font-bold p-4 rounded-lg flex items-center justify-center" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
      <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>
    Cancel
  <% end %>
</div>