<div class="mx-4 space-y-2 text-white">
  <div class="flex items-center my-4 space-x-4">
    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 bg-yellow-200 text-black rounded-lg">
      <path d="M17.8125 3.75002C16.3971 3.74695 15.0038 4.10074 13.7614 4.77869C12.5189 5.45663 11.4674 6.43685 10.7041 7.62874C9.94072 8.82062 9.49015 10.1857 9.39402 11.5978C9.29789 13.0099 9.55929 14.4235 10.1541 15.7078L1.875 23.986L3.20063 25.3125L11.1572 17.356C11.5892 17.9114 12.0886 18.4109 12.6441 18.8428L9.375 22.1119L10.7006 23.4375L14.2922 19.846C15.4377 20.3728 16.6868 20.6361 17.9475 20.6165C19.2082 20.5969 20.4484 20.2948 21.577 19.7326C22.7056 19.1704 23.6937 18.3622 24.4687 17.3677C25.2437 16.3731 25.7859 15.2175 26.0553 13.9857C26.3246 12.754 26.3144 11.4775 26.0254 10.2502C25.7363 9.02293 25.1757 7.87609 24.3849 6.89406C23.5941 5.91204 22.5931 5.11983 21.4557 4.57572C20.3183 4.03161 19.0734 3.74946 17.8125 3.75002ZM24.2869 11.1619C22.9204 10.9436 21.6578 10.2992 20.6794 9.32067C19.7009 8.34218 19.0565 7.07961 18.8381 5.71314C20.2046 5.93148 21.4672 6.57588 22.4456 7.55437C23.4241 8.53286 24.0685 9.79543 24.2869 11.1619V11.1619ZM11.3381 13.2131C12.7046 13.4315 13.9672 14.0759 14.9457 15.0544C15.9241 16.0329 16.5685 17.2954 16.7869 18.6619C15.4204 18.4436 14.1578 17.7992 13.1793 16.8207C12.2009 15.8422 11.5565 14.5796 11.3381 13.2131ZM18.6844 18.6853C18.4573 16.8095 17.6079 15.064 16.2719 13.7278C14.9359 12.3916 13.1905 11.542 11.3147 11.3147C11.5077 9.8908 12.1624 8.5695 13.1784 7.55344C14.1945 6.53738 15.5158 5.88267 16.9397 5.68971C17.1667 7.56553 18.0161 9.31107 19.3521 10.6472C20.6881 11.9834 22.4336 12.8331 24.3094 13.0603C24.1164 14.4842 23.4617 15.8055 22.4456 16.8216C21.4296 17.8377 20.1083 18.4924 18.6844 18.6853V18.6853Z" fill="currentColor"/>
    </svg>
    <div class="text-yellow-200 text-3xl">Book a Daycare Visit</div>
  </div>
  <div class="text-2xl">Remember</div>
  <div class="font-light">Review details before confirming request, please and thank you!</div>
  <div class="w-full pt-4 space-y-4">
    <%= link_to new_daycare_visits_path do %>
      <div class="border-white border-2 w-full text-xl rounded-lg p-4 flex items-center space-x-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 rounded-lg border-2 border-white p-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
        <div class="text-center text-2xl">Book a daycare visit</div>
      </div>
    <% end %>
  </div>
  <% if @daycare_visits.any? %>
    <div class="space-y-4 pt-4 text-black font-bold">
      <div class="text-white text-2xl">Pending Requests</div>
      <% @daycare_visits.pending.each do |daycare_visit| %>
        <% pet = daycare_visit.pet %>
        <details class="w-full bg-yellow-200 rounded-lg p-4">
          <summary>
            <div class="pl-2 inline-flex items-center gap-4 cursor-pointer">
            <div><%= daycare_visit.date.strftime("%B %d") %></div>
            <div><%= daycare_visit.start_time.strftime("%I:%M %p") %></div>
            <div><%= pet.name %></div>
          </summary>
          <p class="mt-2">
            <div>Status: <%= daycare_visit.formatted_status %></div>
            <div>Duration: <%= daycare_visit.formatted_duration %></div>
            <div>Notes: <%= daycare_visit.notes %></div>
            <div class="flex space-x-4 pt-2">
              <%= link_to daycare_visit_path(daycare_visit), class: "flex border-black border-2 p-1 rounded-lg" do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 p-0.5 rounded-lg">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                </svg>
                <div>Edit</div>
              <% end %>
              <%= button_to delete_daycare_visits_path(daycare_visit), method: :delete, class: "flex border-black border-2 p-1 rounded-lg" do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 p-0.5 rounded-lg">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>
                <div>Delete</div>
              <% end %>
            </div>
          </p>
        </details>
      <% end %>
      <div class="text-white text-2xl">Confirmed Requests</div>
      <% @daycare_visits.confirmed.each do |daycare_visit| %>
        <% pet = daycare_visit.pet %>
        <details class="w-full bg-yellow-200 rounded-lg p-4">
          <summary>
            <div class="pl-2 inline-flex items-center gap-4 cursor-pointer">
            <div><%= daycare_visit.date.strftime("%B %d") %></div>
            <div><%= daycare_visit.start_time.strftime("%I:%M %p") %></div>
            <div><%= pet.name %></div>
          </summary>
          <p class="mt-2">
            <div>Status: <%= daycare_visit.formatted_status %></div>
            <div>Duration: <%= daycare_visit.formatted_duration %></div>
            <div>Notes: <%= daycare_visit.notes %></div>
            <div class="flex space-x-4 pt-2">
              <%= link_to daycare_visit_path(daycare_visit), class: "flex border-black border-2 p-1 rounded-lg" do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 p-0.5 rounded-lg">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                </svg>
                <div>Edit</div>
              <% end %>
              <%= button_to delete_daycare_visits_path(daycare_visit), method: :delete, class: "flex border-black border-2 p-1 rounded-lg" do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 p-0.5 rounded-lg">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>
                <div>Delete</div>
              <% end %>
            </div>
          </p>
        </details>
      <% end %>
    </div>
  <% end %>
</div>