<div class="mx-4 space-y-2 text-white">
  <div class="flex items-center my-4 space-x-4">
    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 bg-yellow-200 text-black rounded-lg">
      <path d="M17.8125 3.75002C16.3971 3.74695 15.0038 4.10074 13.7614 4.77869C12.5189 5.45663 11.4674 6.43685 10.7041 7.62874C9.94072 8.82062 9.49015 10.1857 9.39402 11.5978C9.29789 13.0099 9.55929 14.4235 10.1541 15.7078L1.875 23.986L3.20063 25.3125L11.1572 17.356C11.5892 17.9114 12.0886 18.4109 12.6441 18.8428L9.375 22.1119L10.7006 23.4375L14.2922 19.846C15.4377 20.3728 16.6868 20.6361 17.9475 20.6165C19.2082 20.5969 20.4484 20.2948 21.577 19.7326C22.7056 19.1704 23.6937 18.3622 24.4687 17.3677C25.2437 16.3731 25.7859 15.2175 26.0553 13.9857C26.3246 12.754 26.3144 11.4775 26.0254 10.2502C25.7363 9.02293 25.1757 7.87609 24.3849 6.89406C23.5941 5.91204 22.5931 5.11983 21.4557 4.57572C20.3183 4.03161 19.0734 3.74946 17.8125 3.75002ZM24.2869 11.1619C22.9204 10.9436 21.6578 10.2992 20.6794 9.32067C19.7009 8.34218 19.0565 7.07961 18.8381 5.71314C20.2046 5.93148 21.4672 6.57588 22.4456 7.55437C23.4241 8.53286 24.0685 9.79543 24.2869 11.1619V11.1619ZM11.3381 13.2131C12.7046 13.4315 13.9672 14.0759 14.9457 15.0544C15.9241 16.0329 16.5685 17.2954 16.7869 18.6619C15.4204 18.4436 14.1578 17.7992 13.1793 16.8207C12.2009 15.8422 11.5565 14.5796 11.3381 13.2131ZM18.6844 18.6853C18.4573 16.8095 17.6079 15.064 16.2719 13.7278C14.9359 12.3916 13.1905 11.542 11.3147 11.3147C11.5077 9.8908 12.1624 8.5695 13.1784 7.55344C14.1945 6.53738 15.5158 5.88267 16.9397 5.68971C17.1667 7.56553 18.0161 9.31107 19.3521 10.6472C20.6881 11.9834 22.4336 12.8331 24.3094 13.0603C24.1164 14.4842 23.4617 15.8055 22.4456 16.8216C21.4296 17.8377 20.1083 18.4924 18.6844 18.6853V18.6853Z" fill="currentColor"/>
    </svg>
    <div class="text-yellow-200 text-3xl">Book a Daycare Visit</div>
  </div>
  <div class="text-2xl">Disclaimer</div>
  <div class="font-light">Requested daycare visit time may not be given but we will do our best to accommodate your request.</div>  <div class="text-orange-500 border-orange-500 w-full p-2 border-2 rounded-lg">
    <%= "You have #{current_user.max_daycare_visits} visits remaining in your package" %>
  </div>
  <%= form_for DaycareVisit.new, url: create_daycare_visits_path do |f| %>
    <div class="w-full mt-4 space-y-4 h-auto">
      <div class="flex space-x-4 h-auto">
        <div class="flex-1 flex flex-col">
          <div class="flex">
            <%= f.label :pet_id, "Pet" %>
            <div class="text-red-500">*</div>
          </div>
          <%= f.select(:pet_id, options_for_select(current_user.pets.all.map { |pet| [pet.name, pet.id] }), { prompt: 'Select' }, { required: true, class: "bg-white text-black border-x-0 border-t-0 h-full text-xl rounded-lg p-4 flex-grow" }) %>
        </div>
        <div class="flex-1 space-y-2">
          <div>
            <div class="flex">
              <%= f.label :date, "Request Date" %>
              <div class="text-red-500">*</div>
            </div>
            <%= f.date_field :date, required: true, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4" %>
          </div>
          <div>
            <div class="flex">
              <%= f.label :start_time, "Dropoff Time" %>
              <div class="text-red-500">*</div>
            </div>
            <%= f.time_field :start_time, required: true, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4" %>
          </div>
          <div class="bg-white p-2 rounded-lg text-black">
            <div class="flex">
              <%= f.label :duration, "Half or Full Day Visit?", class: "mb-2" %>
              <div class="text-red-500">*</div>
            </div>
            <div class="flex items-center">
              <%= f.radio_button :duration, :half_day, id: "duration_half_day", required: true %>
              <%= f.label :half_day, "Half Day", class: "text-lg pl-2", for: "duration_half_day" %>
            </div>
            <div class="flex items-center">
              <%= f.radio_button :duration, :full_day, id: "duration_full_day", required: true %>
              <%= f.label :half_day, "Full Day", class: "text-lg pl-2", for: "duration_full_day" %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <%= f.label :notes, "Additional Notes" %>
        <%= f.text_area :notes, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4", rows: 3, placeholder: "Write any notes here" %>
      </div>
      <button type="submit" 
              class="w-full text-white font-bold p-4 rounded-lg flex items-center justify-center 
                    <%= 'bg-gray-400 opacity-50 cursor-not-allowed' if current_user.max_daycare_visits.zero? %> 
                    <%= 'bg-blue-800' unless current_user.max_daycare_visits.zero? %>" 
              <%= 'disabled' if current_user.max_daycare_visits.zero? %>>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        Create Request
      </button>
    </div>
  <% end -%>
</div>