<div class="space-y-12 h-[85vh] overflow-y-scroll p-4">
  <%= link_to desktop_products_new_path do %>
    <div class="flex justify-between w-full">
      <button class="bg-black text-white p-3 rounded">+ Add Product</button>
    </div>
  <% end %>
  <div class="grid grid-cols-4 gap-6">
    <% @products.each do |product| %>
      <div class="w-full">
        <div class="w-full h-36 bg-blue-300"></div>
        <div class="border p-4">
          <div class="font-bold"><%= product.name %></div>
          <div class="font-light">$<%= product.price %></div>
          <div class="font-light">Stock: <%= product.stock %></div>
          <div class="flex justfy-between w-full mt-4">
            <div class="text-xs font-light">SKU: <%= product.item_number %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>