<% flash.each do |type, msg| %>
  <div class="text-red-500 border-red-500 w-full p-2 border-2 rounded-lg">
    <%= msg %>
  </div>
<% end %>
<div class="p-4">Note: The shop is not available to customers yet. Feel free to create products, but customers will not be able to purchase from Talii yet</div>
<div class="space-y-12 h-[85vh] overflow-y-scroll p-4">
  <div class="flex justify-between">
    <%= link_to desktop_products_new_path do %>
      <div class="flex justify-between w-full">
        <button class="bg-black text-white p-3 rounded">+ Add Product</button>
      </div>
    <% end %>
    <div class="flex space-x-2">
      <%= link_to desktop_products_path do %>
        <button class="p-3 rounded bg-black text-white font-bold underline">Products</button>
      <% end %>
      <%= link_to desktop_categories_path do %>
        <button class="p-3 rounded bg-black text-white">Categories</button>
      <% end %>
    </div>
  </div>
  <div class="grid grid-cols-4 gap-6">
    <% @products.each do |product| %>
      <%= link_to desktop_product_path(product) do %>
        <div class="w-full">
          <% if product.images.any? %>
            <img src="<%= url_for(product.images.first.image) %>" alt="<%= product.name %>" class="w-full h-36 bg-blue-300">
          <% else %>
            <div class="w-full h-36 bg-blue-300"></div>
          <% end %>
          <div class="border p-4 h-40">
            <div class="font-bold"><%= product.name %></div>
            <div class="font-light">$<%= product.price %></div>
            <div class="font-light">Stock: <%= product.stock %></div>
            <div class="flex justfy-between w-full mt-4">
              <div class="text-xs font-light">SKU: <%= product.item_number %></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>