<div data-controller="dashboard">
  <div class="py-4 px-2">
    <div class="space-y-4">
      <div class="font-bold text-2xl">Daily Calendar</div>
      <div class="w-full bg-white border border-gray-200 rounded-lg">
        <div class="w-full p-4 flex space-x-4 items-center">
          <div class="bg-black text-white flex space-x-2 rounded-lg p-2" onclick='document.getElementById("calendarDialog").showModal();'>
            <div>Expand calendar</div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
            </svg>
          </div>
          <dialog id="calendarDialog">
            <div class="fixed top-0 left-0 w-screen h-screen bg-gray-200 bg-opacity-10 flex items-center justify-center" onclick='document.getElementById("calendarDialog").close();'>
              <div class="bg-white items-center w-full m-32 overflow-y-auto max-h-screen my-4 rounded-xl shadow-xl" onclick="event.stopPropagation();">
                <div class="flex justify-between p-4 rounded-t-xl">
                  <div class="flex space-x-2">
                    <div class="font-bold"><%= @date.strftime('%d %b %Y') %></div>
                    <%= link_to desktop_dashboard_path(date: @date - 1.day, open: true), class: "focus:outline-none" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                    <% end %>
                    <%= link_to desktop_dashboard_path(date: @date + 1.day, open: true), class: "focus:outline-none" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                    <% end %>
                  </div>
                  <div class="bg-black text-white rounded-lg flex space-x-2 p-2" onclick='document.getElementById("calendarDialog").close();'>
                    <div>Collapse Calendar</div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
                    </svg>
                  </div>
                </div>
                <table class="w-full table-auto">
                  <thead>
                    <tr class="bg-gray-100 text-left sticky top-0">
                      <th class="p-4 whitespace-nowrap">Monday</th>
                      <th class="p-4 whitespace-nowrap">Tuesday</th>
                      <th class="p-4 whitespace-nowrap">Wednesday</th>
                      <th class="p-4 whitespace-nowrap">Thursday</th>
                      <th class="p-4 whitespace-nowrap">Friday</th>
                      <th class="p-4 whitespace-nowrap">Saturday</th>
                      <th class="p-4 whitespace-nowrap">Sunday</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for i in 0..96 %>
                      <tr>
                        <% converted_time = Time.zone.parse("2000-01-01 #{time_conversion(i * 15)}") %>
                        <% %w[Monday Tuesday Wednesday Thursday Friday Saturday Sunday].each_with_index do |day, index| %>
                          <% bookings = @grooms.select { |booking| booking.date == Date.parse(date_conversion(@date, index)) } %>
                          <% spanning_bookings = bookings.select { |booking| spanning?(converted_time, booking) } %>
                          <% open = is_in_opening_hours?(converted_time, current_organisation, day) && spanning_bookings.none? %>
                          <% if open %>
                            <td
                              class="px-2 py-1whitespace-nowrap border-2 border-gray-200 <%= open ? 'hover:bg-gray-300 cursor-pointer' : 'bg-gray-100' %>"
                              role="<%= open ? 'button' : nil %>"
                              tabindex="<%= open ? '0' : nil %>"
                              data-time="<%= converted_time.strftime('%H:%M') %>"
                              data-date="<%= date_conversion(@date, index) %>"
                              data-dashboard-target="timeSlot"
                              data-action="click->dashboard#timeSlotTargetClicked"
                              <% if open %>onclick="(function(){
                                var dlg = document.getElementById('groomBookingDialog');
                                if (dlg && typeof dlg.showModal === 'function') dlg.showModal();
                              })()"<% end %>>
                              <%= converted_time.strftime('%I:%M %p') %>
                            </td>
                          <% elsif spanning_bookings.any? %>
                            <td class="px-2 py-1whitespace-nowrap border-2 border-gray-300 bg-gray-300" title="<%= spanning_bookings.pluck(:service).join(', ') %>">
                              <%= link_to desktop_grooms_path(date: @date), class: "block" do %>
                                <%= converted_time.strftime('%I:%M %p') %>
                                <% spanning_bookings.each do |booking| %>
                                  <% if booking_starts_closest_to?(converted_time, booking) %>
                                    <div class="flex space-x-2 items-center">
                                      <% if booking.pet.dog?%>
                                        <%= image_tag "/app_images/backup_dog.jpg", class: "rounded-full h-6 w-6" %>
                                      <% elsif booking.pet.cat? %>
                                        <%= image_tag "/app_images/backup_cat.jpg", class: "rounded-full h-6 w-6" %>
                                      <% else %>
                                        <%= image_tag "/app_images/backup_user.png", class: "rounded-full h-6 w-6" %>
                                      <% end %>
                                      <div class="text-xs text-black"><%= booking.pet.name %>, <%= booking.start_time.strftime('%I:%M %p') %></div>
                                    </div>
                                  <% end %>
                                <% end %>
                              <% end %>
                            </td>
                          <% else %>
                            <td class="px-2 py-1whitespace-nowrap border-2 border-gray-200 bg-gray-100">
                              <%= converted_time.strftime('%I:%M %p') %>
                            </td>
                          <% end %>
                        <% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </dialog>
          <div class="font-bold"><%= @date.strftime('%d %b %Y') %></div>
          <div class="flex space-x-2">
            <%= link_to desktop_dashboard_path(date: @date - 1.day) do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
            <% end %>
            <%= link_to desktop_dashboard_path(date: @date + 1.day) do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
            <% end %>
          </div>
        </div>
        <hr class="border-black"></hr>
        <div class="flex">
          <div class="w-full p-4 flex space-x-4">
            <div class="overflow-hidden rounded-lg w-full">
            <div class="max-h-80 min-h-80 overflow-y-scroll w-full">
              <table class="w-full">
                <thead>
                  <tr class="bg-gray-100 text-left sticky top-0">
                    <th class="p-2">Employee</th>
                    <th class="p-2">Time</th>
                    <th class="p-2">Service</th>
                    <th class="p-2">Pet</th>
                    <th class="p-2">Customer</th>
                    <th class="p-2">Breed</th>
                    <th class="p-2">Phone</th>
                    <th class="p-2">Notes</th>
                    <th class="p-2">Status</th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <% @grooms.each do |booking| %>
                    <tr>
                      <td class="p-2 rounded-full">
                        <div class="inline-block p-2 rounded-full" style="background-color: <%= booking&.user&.colour %>;">
                          <%= booking&.user&.full_name&.split&.map{|name| name.first}&.join %>
                        </div>
                      </td>
                      <td class="p-2 font-light"><%= booking.start_time.strftime('%H:%M %p') %></td>
                      <td class="p-2 font-light"><%= booking.service %></td>
                      <td class="p-2 font-light"><%= booking.is_a?(Groom) ? booking.pet&.name : booking.pet_name %></td>
                      <td class="p-2 font-light"><%= booking.is_a?(Groom) ? booking.pet&.user&.full_name : booking.owner_name %></td>
                      <td class="p-2 font-light"><%= booking.pet.breed %></td>
                      <td class="p-2 font-light"><%= booking.pet.user.phone %></td>
                      <% if booking.notes.present? %>
                        <td class="p-2 font-light underline text-blue-500" onclick='document.getElementById("bookingDialog<%= booking.service %><%= booking.id %>").showModal();'><%= booking.notes? %></td>
                        <dialog id="bookingDialog<%= booking.service %><%= booking.id %>">
                          <div class="fixed top-0 left-0 w-screen h-screen bg-gray-200 bg-opacity-10 flex items-center justify-center" onclick='document.getElementById("bookingDialog<%= booking.service %><%= booking.id %>").close();'>
                            <div class="bg-gray-200 items-center w-96 overflow-y-auto max-h-screen my-4 rounded-xl shadow-xl" onclick="event.stopPropagation();">
                              <div class="flex justify-between p-4 rounded-t-xl">
                                <div class="flex space-x-2 items-center">
                                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                                  </svg>
                                  <div class="font-bold text-2xl">Groom Notes</div>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" onclick='document.getElementById("bookingDialog<%= booking.service %><%= booking.id %>").close();'>
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                </svg>
                              </div>
                              <div class="bg-white p-4">
                                <% if (booking.is_a?(Groom) || booking.is_a?(DaycareVisit)) && booking.notes.present? %>
                                  <div><%= booking.notes %></div>
                                <% else%>
                                  <% if booking.owner_notes.present? %>
                                    <div class="font-bold">Owner Notes</div>
                                    <div><%= booking.owner_notes %></div>
                                  <% end %>
                                  <% if booking.pet_notes.present? %>
                                    <div class="font-bold">Pet Notes</div>
                                    <div><%= booking.pet_notes %></div>
                                  <% end %>
                                <% end%>
                              </div>
                            </div>
                          </div>
                        </dialog>
                      <% else %>
                        <td class="p-2 font-light">No</td>
                      <% end %>
                      <td class="p-2 font-light"><%= booking.formatted_status %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="w-56 p-2 rounded-lg space-y-4">
            <div class="text-lg font-bold">Total Grooms</div>
            <%= pie_chart({"Booked Grooms"=> @bookings.count{|booking| booking.is_a?(Groom) || booking.is_a?(TemporaryGroom)}, "Available Grooms" => current_organisation.maximum_daily_grooms - @bookings.count{|booking| booking.is_a?(Groom) || booking.is_a?(TemporaryGroom)}}, height: "100px", width: "200px", legend: false) %>
            <div class="space-y-2">
              <div class="w-full text-center">
                <div class="text-4xl font-bold"><%= @grooms.count %></div>
                <div>Total Grooms</div>
              </div>
              <div class="flex justify-between">
                <div>Grooms .................... <%= @grooms.count %>/<%= current_organisation.maximum_daily_grooms %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex space-x-4">
      <div class="w-full bg-white border border-gray-200 rounded-lg">
        <div class="w-full p-4">
          <div class="font-bold">Daycare Count</div>
          <div class="flex justify-center">
            <%= pie_chart({
              "Half Day Visits"=> @bookings.count{|booking| (booking.is_a?(DaycareVisit) || booking.is_a?(TemporaryDaycareVisit)) && booking.duration == "half_day"},
              "Full Day Visits"=> @bookings.count{|booking| (booking.is_a?(DaycareVisit) || booking.is_a?(TemporaryDaycareVisit)) && booking.duration == "full_day"},
              "Available Daycare Visits" => current_organisation.maximum_daily_daycare_visits - @bookings.count{|booking| booking.is_a?(DaycareVisit) || booking.is_a?(TemporaryDaycareVisit)}
            }, height: "150px", legend: false) %>
          </div>
        </div>
        <div class="overflow-hidden rounded-lg p-4">
          <div class="max-h-32 overflow-y-scroll">
            <div class="flex w-full justify-center">
              <div class="w-full text-center">
                <div class="text-2xl font-bold pb-2 text-center">
                  <%= @daycare_visits.count %>
                </div>
                <div class="flex w-full justify-center">
                  <div class="border-b border-gray-300 w-12"></div>
                </div>
                <div class="text-2xl font-bold pt-2 text-gray-600 text-center">
                  <%= current_organisation.maximum_daily_daycare_visits %>
                </div>
              </div>
            </div>
            <div class="flex justify-center pt-2">
              <div class="flex items-center space-x-4">
                <div class="flex space-x-1">
                  <div class="font-light">Half Day:</div>
                  <div class="font-bold">
                    <%= @bookings.count { |booking| (booking.is_a?(DaycareVisit) || booking.is_a?(TemporaryDaycareVisit)) && booking.duration == "half_day" } %>
                  </div>
                </div>
                <div class="border-l border-gray-300 h-6"></div> <!-- Vertical line -->
                <div class="flex space-x-1">
                  <div class="font-light">Full Day:</div>
                  <div class="font-bold">
                    <%= @bookings.count { |booking| (booking.is_a?(DaycareVisit) || booking.is_a?(TemporaryDaycareVisit)) && booking.duration == "full_day" } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full bg-white border border-gray-200 rounded-lg">
        <div class="w-full p-4">
          <div class="font-bold">Retail Sales Today</div>
        </div>
        <div class="overflow-hidden rounded-lg p-4">
          <div class="text-2xl">Coming Soon!</div>
        </div>
      </div>
      <div class="w-full bg-white border border-gray-200 rounded-lg">
        <div class="w-full p-4">
          <div class="font-bold">Business Goals</div>
        </div>
        <div class="overflow-hidden rounded-lg p-4">
          <div class="text-2xl">Coming Soon!</div>
        </div>
      </div>
    </div>
  </div>
  <% flash.each do |type, msg| %>
    <div class="text-red-500 border-red-500 w-full p-2 border-2 rounded-lg">
      <%= msg %>
    </div>
  <% end %>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get("open") === "true") {
      document.getElementById("calendarDialog").showModal();
    }
  });
</script>