<div class="py-4 px-2 space-y-4">
  <div>
    <div class="font-bold text-2xl">Daily Calendar</div>
    <div class="flex space-x-4">
      <div class="w-full bg-white border border-gray-200 rounded-lg">
        <div class="w-full p-4">
          <div class="font-bold">Daycare Visit Targets</div>
        </div>
        <div class="overflow-hidden rounded-lg p-4">
          <div class="max-h-40 overflow-y-scroll">
            <div class="flex w-full justify-between">
              <div class="font-bold">Half Day Visits:</div>
              <div><%= current_organisation.daycare_visits.today.where(duration: "half_day").count %></div>
            </div>
            <div class="flex w-full justify-between">
              <div class="font-bold">Full Day Visits:</div>
              <div><%= current_organisation.daycare_visits.today.where(duration: "full_day").count %></div>
            </div>
            <div class="flex w-full justify-between">
              <div class="font-bold">Daily Daycare Visits Target:</div>
              <div><%= current_organisation.maximum_daily_daycare_visits %></div>
            </div>
            <div class="flex w-full justify-between">
              <div class="font-bold">Daycare Visits Booked Today:</div>
              <div><%= current_organisation.daycare_visits.today.count %></div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full bg-white border border-gray-200 rounded-lg">
        <div class="w-full p-4">
          <div class="font-bold">Grooming Targets</div>
        </div>
        <div class="overflow-hidden rounded-lg p-4">
          <div class="max-h-40 overflow-y-scroll">
            <div class="flex w-full justify-between">
              <div class="font-bold">Daily Grooms Target:</div>
              <div><%= current_organisation.maximum_daily_grooms %></div>
            </div>
            <div class="flex w-full justify-between">
              <div class="font-bold">Grooms Booked Today:</div>
              <div><%= current_organisation.grooms.today.count %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex space-x-4">
    <div class="w-1/2">
      <div class="font-bold text-2xl">Retail Sales</div>
      <div class="flex w-full space-x-4">
        <div class="w-full bg-white border border-gray-200 rounded-lg p-4">
          <div class="flex w-full space-x-6">
            <div>
              <div class="font-bold">Today's Sales</div>
              <div class="text-2xl">$<%= current_organisation.orders.today.sum {|order| order.total_price_in_dollars } %></div>
            </div>
            <div>
              <div class="font-bold">Today's Orders</div>
              <div class="text-2xl"><%= current_organisation.orders.today.count %> orders</div>
            </div>
            <div>
              <div class="font-bold">Today's Sales Target</div>
              <div class="text-2xl">$<%= current_organisation.orders.today.sum {|order| order.total_price_in_dollars } %> / $<%= current_organisation.revenue_target %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>