<div class="w-full p-4 text-white text-center space-y-8 px-8">
  <%= form_with url: update_user_name_onboarding_path(@user) do |f| %>
    <div class="space-y-56">
      <div class="flex items-center">
        <%= link_to user_password_onboarding_path(@user) do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
          </svg>
        <% end %>
        <div class="text-4xl">What's your name?</div>
      </div>
      <div class="space-y-8">
        <div>This will appear on your Talii profile</div>
        <%= f.text_field :first_name, value: @user.first_name, required: true, placeholder: "First Name", class: "bg-black border-2 border-white rounded-2xl text-white text-lg p-4 w-full" %>
        <%= f.text_field :last_name, value: @user.last_name, required: true, placeholder: "Last Name", class: "bg-black border-2 border-white rounded-2xl text-white text-lg p-4 w-full" %>
      </div>
      <div class="space-y-4">
        <%= f.submit "Next", class: "w-full bg-blue-800 p-4 rounded-lg" %>
      </div>
    </div>
  <% end %>
</div>