<div class="max-h-screen overflow-y-hidden w-full p-4 text-white text-center px-8">
  <%= form_with url: update_user_name_onboarding_path(@user) do |f| %>
    <!-- Use justify-between to space items -->
    <div class="flex flex-col justify-between h-full space-y-4">
      <!-- Top Section -->
      <div class="space-y-4">
        <div class="flex space-x-4 items-center">
          <%= link_to user_password_onboarding_path(@user) do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
          <% end %>
          <div class="text-3xl">What's your name?</div>
        </div>
        <div class="font-thin text-sm">(3/4 steps)</div>
      </div>

      <!-- Middle Section -->
      <div class="space-y-4">
        <div>This will appear on your Talii profile</div>
        <%= f.text_field :first_name, value: @user.first_name, required: true, placeholder: "First Name", class: "bg-black border-2 border-white rounded-2xl text-white text-lg p-4 w-full" %>
        <%= f.text_field :last_name, value: @user.last_name, required: true, placeholder: "Last Name", class: "bg-black border-2 border-white rounded-2xl text-white text-lg p-4 w-full" %>
      </div>

      <!-- Bottom Section -->
      <div>
        <%= f.submit "Next", class: "w-full bg-blue-800 p-4 rounded-lg" %>
      </div>
    </div>
  <% end %>
</div>
