<div class="w-full p-4 text-white text-center space-y-8 px-8">
  <%= form_with url: update_user_phone_onboarding_path(@user) do |f| %>
    <div class="space-y-4">
      <div>
        <div class="flex space-x-2 items-center">
          <%# <%= link_to user_address_onboarding_path(@user) do %>
          <%= link_to user_name_onboarding_path(@user) do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
          <% end %>
          <div class="text-3xl">What's your number?</div>
        </div>
      </div>
      <div class="space-y-8">
        <div class="space-y-4">
          <div class="font-thin text-sm">(4/5 steps)</div>
          <div>For the moments we need to touch base or when your pet's groom is finished</div>
        </div>
        <%= f.phone_field :phone, value: @user.phone, required: true, placeholder: "(+1)613 464 2505", class: "bg-black border-2 border-white rounded-2xl text-white text-lg p-4 w-full" %>
      </div>
      <div class="space-y-4">
        <%= f.submit "Next", class: "w-full bg-blue-800 p-4 rounded-lg" %>
      </div>
    </div>
  <% end %>
</div>