<div class="w-full p-4 space-y-4 overflow-y-scroll h-[85vh]">
  <div class="font-bold text-2xl">Book A Daycare Visit</div>
  <% flash.each do |type, msg| %>
    <div class="text-red-500 border-red-500 w-full p-2 border-2 rounded-lg">
      <%= msg %>
    </div>
  <% end %>
  <div class="bg-white w-full flex">
    <div class="w-full">
      <%= link_to desktop_daycare_visits_new_path do %>
        <div class="w-full text-center font-bold p-4 border-b-4 border-l-2 border-gray-300 border-b-white hover:border-b-gray-300 hover:bg-gray-300">Existing Customer</div>
      <% end %>
    </div>
    <div class="w-full">
      <%= link_to desktop_temporary_daycare_visits_new_path do %>
        <div class="
        w-full text-center font-bold border-b-4 border-blue-500 p-4 border-r-2 border-r-gray-300 hover:bg-gray-300">New Customer</div>
      <% end %>
    </div>
  </div>
  <%= form_for TemporaryDaycareVisit.new, url: desktop_temporary_daycare_visit_create_path do |f| %>
    <%= f.hidden_field :origin, value: "desktop"%>
    <div class="space-y-4">
      <div>
        <%= f.label :pet_name %>
        <%= f.text_field :pet_name, placeholder: "Max", required: true, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4" %>
      </div>
      <div>
        <%= f.label :owner_name %>
        <%= f.text_field :owner_name, placeholder: "Gerald", required: true, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4" %>
      </div>
      <div>
        <%= f.label :date, "Request Date" %>
        <%= f.date_field :date, required: true, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4" %>
      </div>
      <div>
        <%= f.label :time, "Dropoff Time" %>
        <%= f.time_field :time, required: true, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4" %>
      </div>
      <div>
        <%= f.label :duration, "Half or Full Day Visit?", class: "text-xl mb-2" %>
        <div>
          <%= f.radio_button :duration, :half_day, id: "duration_half_day", required: true %>
          <%= f.label :half_day, "Half Day", class: "text-lg", for: "duration_half_day" %>
        </div>
        <div>
          <%= f.radio_button :duration, :full_day, id: "duration_full_day", required: true %>
          <%= f.label :full_day, "Full Day", class: "text-lg", for: "duration_full_day" %>
        </div>
      </div>
      <div>
        <%= f.label :pet_notes %>
        <%= f.text_area :pet_notes, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4", rows: 3, placeholder: "Write any notes here" %>
      </div>
      <div>
        <%= f.label :owner_notes %>
        <%= f.text_area :owner_notes, class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4", rows: 3, placeholder: "Write any notes here" %>
      </div>
      <div>
        <%= f.label :employee_id, "Employee" %>
        <%= f.select(:employee_id, options_for_select(current_organisation.users.employees_and_admins.map{|user| [user.full_name, user.id]}), { prompt: 'Select' }, { class: "bg-white text-black border-x-0 border-t-0 w-full text-xl rounded-lg p-4" }) %>
      </div>
      <button type="submit" class="bg-blue-800 w-full text-white font-bold p-4 rounded-lg flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        Create Request
      </button>
    </div>
  <% end %>
  <%= link_to desktop_daycare_visits_path(@user), class: "bg-white w-full border font-bold p-4 rounded-lg flex items-center justify-center" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
      <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>
    Cancel
  <% end %>
</div>