<!DOCTYPE html>
<html>
  <head>
    <title>Tallii</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= javascript_importmap_tags %>
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
    <script src="https://js.stripe.com/v3"></script>
  </head>

  <% if controller_name == "sessions" %>
    <body class="min-h-screen bg-black flex flex-col">
      <%= yield %>
    </body>
  <% else %>
    <body class="min-h-screen bg-black flex flex-col pb-20">
      <%= yield %>
      <% if current_user && controller_name != "onboarding" && controller_name != "settings" %>
        <footer class="fixed bottom-0 left-0 w-full bg-black flex text-white py-2 h-[8vh] items-center">
          <dialog id="bookingDialog">
            <div class="fixed top-0 left-0 w-screen h-screen bg-gray-900 bg-opacity-75 backdrop-blur-sm" onclick="document.getElementById('bookingDialog').close();">
              <div class="h-screen flex justify-center items-end space-x-24">
                <%= link_to new_groom_path do %>
                  <div class="text-violet-400 pb-4 font-bold">Grooming</div>
                  <div class="p-6 bg-black rounded-full text-violet-400 mb-[20vh]" onclick="event.stopPropagation();">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m7.848 8.25 1.536.887M7.848 8.25a3 3 0 1 1-5.196-3 3 3 0 0 1 5.196 3Zm1.536.887a2.165 2.165 0 0 1 1.083 1.839c.005.351.054.695.14 1.024M9.384 9.137l2.077 1.199M7.848 15.75l1.536-.887m-1.536.887a3 3 0 1 1-5.196 3 3 3 0 0 1 5.196-3Zm1.536-.887a2.165 2.165 0 0 0 1.083-1.838c.005-.352.054-.695.14-1.025m-1.223 2.863 2.077-1.199m0-3.328a4.323 4.323 0 0 1 2.068-1.379l5.325-1.628a4.5 4.5 0 0 1 2.48-.044l.803.215-7.794 4.5m-2.882-1.664A4.33 4.33 0 0 0 10.607 12m3.736 0 7.794 4.5-.802.215a4.5 4.5 0 0 1-2.48-.043l-5.326-1.629a4.324 4.324 0 0 1-2.068-1.379M14.343 12l-2.882 1.664" />
                    </svg>
                  </div>
                <% end %>
                <%= link_to new_daycare_visits_path do %>
                  <div class="text-yellow-200 pb-4 pl-1 font-bold">Daycare</div>
                  <div class="p-6 bg-black rounded-full text-yellow-200 mb-[20vh]" onclick="event.stopPropagation();">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6">
                      <path d="M17.8125 3.75002C16.3971 3.74695 15.0038 4.10074 13.7614 4.77869C12.5189 5.45663 11.4674 6.43685 10.7041 7.62874C9.94072 8.82062 9.49015 10.1857 9.39402 11.5978C9.29789 13.0099 9.55929 14.4235 10.1541 15.7078L1.875 23.986L3.20063 25.3125L11.1572 17.356C11.5892 17.9114 12.0886 18.4109 12.6441 18.8428L9.375 22.1119L10.7006 23.4375L14.2922 19.846C15.4377 20.3728 16.6868 20.6361 17.9475 20.6165C19.2082 20.5969 20.4484 20.2948 21.577 19.7326C22.7056 19.1704 23.6937 18.3622 24.4687 17.3677C25.2437 16.3731 25.7859 15.2175 26.0553 13.9857C26.3246 12.754 26.3144 11.4775 26.0254 10.2502C25.7363 9.02293 25.1757 7.87609 24.3849 6.89406C23.5941 5.91204 22.5931 5.11983 21.4557 4.57572C20.3183 4.03161 19.0734 3.74946 17.8125 3.75002ZM24.2869 11.1619C22.9204 10.9436 21.6578 10.2992 20.6794 9.32067C19.7009 8.34218 19.0565 7.07961 18.8381 5.71314C20.2046 5.93148 21.4672 6.57588 22.4456 7.55437C23.4241 8.53286 24.0685 9.79543 24.2869 11.1619V11.1619ZM11.3381 13.2131C12.7046 13.4315 13.9672 14.0759 14.9457 15.0544C15.9241 16.0329 16.5685 17.2954 16.7869 18.6619C15.4204 18.4436 14.1578 17.7992 13.1793 16.8207C12.2009 15.8422 11.5565 14.5796 11.3381 13.2131ZM18.6844 18.6853C18.4573 16.8095 17.6079 15.064 16.2719 13.7278C14.9359 12.3916 13.1905 11.542 11.3147 11.3147C11.5077 9.8908 12.1624 8.5695 13.1784 7.55344C14.1945 6.53738 15.5158 5.88267 16.9397 5.68971C17.1667 7.56553 18.0161 9.31107 19.3521 10.6472C20.6881 11.9834 22.4336 12.8331 24.3094 13.0603C24.1164 14.4842 23.4617 15.8055 22.4456 16.8216C21.4296 17.8377 20.1083 18.4924 18.6844 18.6853V18.6853Z"/>
                    </svg>
                  </div>
                <% end %>
              </div>
              <div class="absolute bottom-0 left-0 w-full bg-black flex text-white py-2 h-[10vh] items-center">
                <div class="w-1/2 text-center">
                  <% if current_page?(current_pet_profile_path)%>
                    <%= link_to current_pet_profile_path do %>
                      <div>
                        <div class="flex justify-center">
                          <svg width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-violet-400">
                            <path d="M18.1928 -0.000237995H11.8074C5.29676 -0.000237995 0 5.17784 0 11.5422V12.1393C0 14.2809 1.48274 16.1452 3.60688 16.6736L5.58458 17.1626C5.50102 16.6086 5.49045 16.0374 5.49595 15.4566L4.01756 15.091C2.63542 14.7472 1.67018 13.5335 1.67018 12.1393V11.5422C1.67018 6.07785 6.21764 1.63251 11.8074 1.63251H18.1928C23.7824 1.63251 28.3298 6.07785 28.3298 11.5422V12.1393C28.3298 13.5335 27.3646 14.7472 25.9836 15.0907L25.2231 15.2788C25.1554 15.8718 25.0604 16.4593 24.9205 17.0379L26.3943 16.6733C28.5172 16.1452 30 14.2809 30 12.1393V11.5422C30 5.17784 24.7033 -0.000237995 18.1928 -0.000237995" fill="#FFFFFF"/>
                            <path d="M15.3026 25H14.7905C9.13406 25 4.53223 20.5016 4.53223 14.972V8.24015C4.53223 7.78919 4.90613 7.42394 5.36728 7.42394C5.82844 7.42394 6.20238 7.78919 6.20238 8.24015V14.972C6.20238 19.6012 10.0549 23.3673 14.7905 23.3673H15.3026C20.0381 23.3673 23.8907 19.6012 23.8907 14.972V8.24015C23.8907 7.78919 24.2646 7.42394 24.7258 7.42394C25.187 7.42394 25.5609 7.78919 25.5609 8.24015V14.972C25.5609 20.5016 20.959 25 15.3026 25" fill="#FFFFFF"/>
                            <path d="M10.5236 10.4554C11.3941 10.6163 11.9515 11.5147 11.7685 12.462C11.5854 13.4097 10.7313 14.0474 9.86072 13.8869C8.99017 13.726 8.43282 12.8276 8.61584 11.8803C8.79886 10.9326 9.653 10.2948 10.5236 10.4554Z" fill="#FFFFFF"/>
                            <path d="M19.5702 10.4554C18.6996 10.6163 18.1423 11.5147 18.3253 12.462C18.5083 13.4097 19.3625 14.0474 20.233 13.8869C21.1036 13.726 21.6609 12.8276 21.4779 11.8803C21.2949 10.9326 20.4408 10.2948 19.5702 10.4554Z" fill="#FFFFFF"/>
                            <path d="M15 16.8544C16.3592 16.8544 17.461 17.2215 17.461 17.9552C17.461 18.9339 16.3592 19.9126 15 19.9126C13.6408 19.9126 12.5391 18.9339 12.5391 17.9552C12.5391 17.2215 13.6408 16.8544 15 16.8544Z" fill="#FFFFFF"/>
                          </svg>
                        </div>
                        <div>Profile</div>
                      </div>
                    <% end %>
                  <% else %>
                    <%= link_to current_pet_profile_path do %>
                      <div class="flex justify-center">
                        <svg width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white">
                          <path d="M18.1928 -0.000237995H11.8074C5.29676 -0.000237995 0 5.17784 0 11.5422V12.1393C0 14.2809 1.48274 16.1452 3.60688 16.6736L5.58458 17.1626C5.50102 16.6086 5.49045 16.0374 5.49595 15.4566L4.01756 15.091C2.63542 14.7472 1.67018 13.5335 1.67018 12.1393V11.5422C1.67018 6.07785 6.21764 1.63251 11.8074 1.63251H18.1928C23.7824 1.63251 28.3298 6.07785 28.3298 11.5422V12.1393C28.3298 13.5335 27.3646 14.7472 25.9836 15.0907L25.2231 15.2788C25.1554 15.8718 25.0604 16.4593 24.9205 17.0379L26.3943 16.6733C28.5172 16.1452 30 14.2809 30 12.1393V11.5422C30 5.17784 24.7033 -0.000237995 18.1928 -0.000237995" fill="#FFFFFF"/>
                          <path d="M15.3026 25H14.7905C9.13406 25 4.53223 20.5016 4.53223 14.972V8.24015C4.53223 7.78919 4.90613 7.42394 5.36728 7.42394C5.82844 7.42394 6.20238 7.78919 6.20238 8.24015V14.972C6.20238 19.6012 10.0549 23.3673 14.7905 23.3673H15.3026C20.0381 23.3673 23.8907 19.6012 23.8907 14.972V8.24015C23.8907 7.78919 24.2646 7.42394 24.7258 7.42394C25.187 7.42394 25.5609 7.78919 25.5609 8.24015V14.972C25.5609 20.5016 20.959 25 15.3026 25" fill="#FFFFFF"/>
                          <path d="M10.5236 10.4554C11.3941 10.6163 11.9515 11.5147 11.7685 12.462C11.5854 13.4097 10.7313 14.0474 9.86072 13.8869C8.99017 13.726 8.43282 12.8276 8.61584 11.8803C8.79886 10.9326 9.653 10.2948 10.5236 10.4554Z" fill="#FFFFFF"/>
                          <path d="M19.5702 10.4554C18.6996 10.6163 18.1423 11.5147 18.3253 12.462C18.5083 13.4097 19.3625 14.0474 20.233 13.8869C21.1036 13.726 21.6609 12.8276 21.4779 11.8803C21.2949 10.9326 20.4408 10.2948 19.5702 10.4554Z" fill="#FFFFFF"/>
                          <path d="M15 16.8544C16.3592 16.8544 17.461 17.2215 17.461 17.9552C17.461 18.9339 16.3592 19.9126 15 19.9126C13.6408 19.9126 12.5391 18.9339 12.5391 17.9552C12.5391 17.2215 13.6408 16.8544 15 16.8544Z" fill="#FFFFFF"/>
                        </svg>
                      </div>
                      <div>Profile</div>
                    <% end %>
                  <% end %>
                </div>
                <div class="w-1/2 text-center" onclick="document.getElementById('bookingDialog').showModal();">
                  <div class="flex justify-center text-violet-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                  </div>
                  <div class="text-violet-400">Booking</div>
                </div>
              </div>
            </div>
          </dialog>
          <div class="w-1/2 text-center">
            <% if current_page?(current_pet_profile_path)%>
              <%= link_to current_pet_profile_path do %>
                <div class="text-violet-400">
                  <div class="flex justify-center">
                    <svg width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-violet-400">
                      <path d="M18.1928 -0.000237995H11.8074C5.29676 -0.000237995 0 5.17784 0 11.5422V12.1393C0 14.2809 1.48274 16.1452 3.60688 16.6736L5.58458 17.1626C5.50102 16.6086 5.49045 16.0374 5.49595 15.4566L4.01756 15.091C2.63542 14.7472 1.67018 13.5335 1.67018 12.1393V11.5422C1.67018 6.07785 6.21764 1.63251 11.8074 1.63251H18.1928C23.7824 1.63251 28.3298 6.07785 28.3298 11.5422V12.1393C28.3298 13.5335 27.3646 14.7472 25.9836 15.0907L25.2231 15.2788C25.1554 15.8718 25.0604 16.4593 24.9205 17.0379L26.3943 16.6733C28.5172 16.1452 30 14.2809 30 12.1393V11.5422C30 5.17784 24.7033 -0.000237995 18.1928 -0.000237995" fill="#B29EFF"/>
                      <path d="M15.3026 25H14.7905C9.13406 25 4.53223 20.5016 4.53223 14.972V8.24015C4.53223 7.78919 4.90613 7.42394 5.36728 7.42394C5.82844 7.42394 6.20238 7.78919 6.20238 8.24015V14.972C6.20238 19.6012 10.0549 23.3673 14.7905 23.3673H15.3026C20.0381 23.3673 23.8907 19.6012 23.8907 14.972V8.24015C23.8907 7.78919 24.2646 7.42394 24.7258 7.42394C25.187 7.42394 25.5609 7.78919 25.5609 8.24015V14.972C25.5609 20.5016 20.959 25 15.3026 25" fill="#B29EFF"/>
                      <path d="M10.5236 10.4554C11.3941 10.6163 11.9515 11.5147 11.7685 12.462C11.5854 13.4097 10.7313 14.0474 9.86072 13.8869C8.99017 13.726 8.43282 12.8276 8.61584 11.8803C8.79886 10.9326 9.653 10.2948 10.5236 10.4554Z" fill="#B29EFF"/>
                      <path d="M19.5702 10.4554C18.6996 10.6163 18.1423 11.5147 18.3253 12.462C18.5083 13.4097 19.3625 14.0474 20.233 13.8869C21.1036 13.726 21.6609 12.8276 21.4779 11.8803C21.2949 10.9326 20.4408 10.2948 19.5702 10.4554Z" fill="#B29EFF"/>
                      <path d="M15 16.8544C16.3592 16.8544 17.461 17.2215 17.461 17.9552C17.461 18.9339 16.3592 19.9126 15 19.9126C13.6408 19.9126 12.5391 18.9339 12.5391 17.9552C12.5391 17.2215 13.6408 16.8544 15 16.8544Z" fill="#B29EFF"/>
                    </svg>
                  </div>
                  <div>Profile</div>
                </div>
              <% end %>
            <% else %>
              <%= link_to current_pet_profile_path do %>
                <div class="flex justify-center">
                  <svg width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white">
                    <path d="M18.1928 -0.000237995H11.8074C5.29676 -0.000237995 0 5.17784 0 11.5422V12.1393C0 14.2809 1.48274 16.1452 3.60688 16.6736L5.58458 17.1626C5.50102 16.6086 5.49045 16.0374 5.49595 15.4566L4.01756 15.091C2.63542 14.7472 1.67018 13.5335 1.67018 12.1393V11.5422C1.67018 6.07785 6.21764 1.63251 11.8074 1.63251H18.1928C23.7824 1.63251 28.3298 6.07785 28.3298 11.5422V12.1393C28.3298 13.5335 27.3646 14.7472 25.9836 15.0907L25.2231 15.2788C25.1554 15.8718 25.0604 16.4593 24.9205 17.0379L26.3943 16.6733C28.5172 16.1452 30 14.2809 30 12.1393V11.5422C30 5.17784 24.7033 -0.000237995 18.1928 -0.000237995" fill="#FFFFFF"/>
                    <path d="M15.3026 25H14.7905C9.13406 25 4.53223 20.5016 4.53223 14.972V8.24015C4.53223 7.78919 4.90613 7.42394 5.36728 7.42394C5.82844 7.42394 6.20238 7.78919 6.20238 8.24015V14.972C6.20238 19.6012 10.0549 23.3673 14.7905 23.3673H15.3026C20.0381 23.3673 23.8907 19.6012 23.8907 14.972V8.24015C23.8907 7.78919 24.2646 7.42394 24.7258 7.42394C25.187 7.42394 25.5609 7.78919 25.5609 8.24015V14.972C25.5609 20.5016 20.959 25 15.3026 25" fill="#FFFFFF"/>
                    <path d="M10.5236 10.4554C11.3941 10.6163 11.9515 11.5147 11.7685 12.462C11.5854 13.4097 10.7313 14.0474 9.86072 13.8869C8.99017 13.726 8.43282 12.8276 8.61584 11.8803C8.79886 10.9326 9.653 10.2948 10.5236 10.4554Z" fill="#FFFFFF"/>
                    <path d="M19.5702 10.4554C18.6996 10.6163 18.1423 11.5147 18.3253 12.462C18.5083 13.4097 19.3625 14.0474 20.233 13.8869C21.1036 13.726 21.6609 12.8276 21.4779 11.8803C21.2949 10.9326 20.4408 10.2948 19.5702 10.4554Z" fill="#FFFFFF"/>
                    <path d="M15 16.8544C16.3592 16.8544 17.461 17.2215 17.461 17.9552C17.461 18.9339 16.3592 19.9126 15 19.9126C13.6408 19.9126 12.5391 18.9339 12.5391 17.9552C12.5391 17.2215 13.6408 16.8544 15 16.8544Z" fill="#FFFFFF"/>
                  </svg>
                </div>
                <div>Profile</div>
              <% end %>
            <% end %>
          </div>
          <div class="w-1/2 text-center" onclick="document.getElementById('bookingDialog').showModal();">
            <% if controller_name == "grooms" || controller_name == "daycare_visits" %>
              <div class="text-violet-400">
                <div class="flex justify-center">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                  </svg>
                </div>
                <div class="text-violet-400">Booking</div>
              </div>
            <% else %>
              <div class="flex justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
              </div>
              <div>Booking</div>
            <% end %>
          </div>
        </footer>
      <% end %>
    </body>
  <% end %>
</html>
