<!DOCTYPE html>
<html>
  <head>
    <title>Tallii</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= javascript_importmap_tags %>
    <script src="https://js.stripe.com/v3"></script>
  </head>

  <body class="min-h-screen bg-gray-100 flex w-full">
    <% if current_user && current_organisation && controller_name != "desktop_sessions" %>
      <div class="w-[10vw] bg-sky-500 m-4 rounded-2xl max-h-screen">
        <div class="text-center text-white flex flex-col items-center m-2 p-2">
          <%= link_to desktop_dashboard_path do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none" class="border-2 rounded-2xl">
              <rect x="33" y="20" width="10" height="30" rx="1" fill="white"/>
              <ellipse cx="23" cy="12" rx="6" ry="5" fill="white"/>
              <ellipse cx="38" cy="12" rx="6" ry="5" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19 20C18.4477 20 18 20.4477 18 21V37.5663L28 31.3176V21C28 20.4477 27.5523 20 27 20H19ZM28 37.2135L18 43.4622V49C18 49.5523 18.4477 50 19 50H27C27.5523 50 28 49.5523 28 49V37.2135Z" fill="white"/>
            </svg>
          <% end %>
        </div>
        <% if current_page?(desktop_dashboard_path)%>
          <%= link_to desktop_dashboard_path do %>
            <div class="text-center text-white flex flex-col items-center font-bold stroke-2 bg-sky-950 rounded-2xl m-2 p-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mb-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
              </svg>
              <div>Home</div>
            </div>
          <% end %>
        <% else %>
          <%= link_to desktop_dashboard_path do %>
            <div class="text-center text-white flex flex-col items-center hover:font-bold hover:stroke-2 hover:bg-sky-950 rounded-2xl m-2 p-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mb-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
              </svg>
              <div>Home</div>
            </div>
          <% end %>
        <% end %>
        <% if controller_name == 'grooms' || controller_name == "temporary_grooms" %>
          <%= link_to desktop_grooms_path do %>
            <div class="text-center text-white flex flex-col items-center font-bold stroke-2 bg-sky-950 rounded-2xl m-2 p-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none" class="w-6 h-6 mb-2">
                <path d="M20.3224 14.249L28.3307 6.94066C28.4222 6.85708 28.494 6.75413 28.5407 6.63932C28.5874 6.5245 28.6079 6.40071 28.6007 6.27697C28.5936 6.15323 28.5588 6.03264 28.4992 5.92401C28.4395 5.81537 28.3563 5.72142 28.2557 5.64899L26.389 4.31566C25.8637 3.94447 25.2321 3.75359 24.5891 3.77162C23.946 3.78965 23.3262 4.01562 22.8224 4.41566L13.5057 11.849L10.789 9.74899C11.1519 8.67791 11.1022 7.50998 10.6495 6.47366C10.1968 5.43734 9.37375 4.60718 8.34137 4.14558C7.30899 3.68397 6.14153 3.62413 5.06736 3.97776C3.99319 4.33139 3.08959 5.07304 2.53332 6.05764C1.97705 7.04225 1.80812 8.19897 2.05958 9.30154C2.31103 10.4041 2.96479 11.3732 3.89296 12.0193C4.82113 12.6653 5.95695 12.9418 7.07822 12.7948C8.19949 12.6477 9.22556 12.0876 9.95571 11.224L12.139 12.8907L8.60571 15.7657C7.6045 15.2269 6.4383 15.0809 5.3352 15.3564C4.23209 15.6319 3.27143 16.309 2.64108 17.2552C2.01073 18.2015 1.75604 19.3489 1.92682 20.4729C2.0976 21.597 2.68156 22.617 3.56449 23.3333C4.44743 24.0497 5.56584 24.4109 6.70099 24.3463C7.83613 24.2818 8.90637 23.7961 9.7024 22.9842C10.4984 22.1724 10.963 21.0928 11.0052 19.9566C11.0474 18.8204 10.6643 17.7093 9.93072 16.8407L23.8557 5.71566C24.0774 5.54051 24.3497 5.4418 24.6321 5.43429C24.9145 5.42678 25.1917 5.51087 25.4224 5.67399L26.4474 6.40733L17.8557 14.2573L26.4474 22.0907L25.4224 22.824C25.1917 22.9871 24.9145 23.0712 24.6321 23.0637C24.3497 23.0562 24.0774 22.9575 23.8557 22.7823L15.6807 16.2407L14.439 17.374L22.8224 24.0407C23.3269 24.4427 23.9484 24.6698 24.5932 24.6878C25.238 24.7059 25.8712 24.5138 26.3974 24.1407L28.264 22.8073C28.3646 22.7349 28.4478 22.6409 28.5075 22.5323C28.5672 22.4237 28.6019 22.3031 28.6091 22.1793C28.6163 22.0556 28.5957 21.9318 28.549 21.817C28.5023 21.7022 28.4306 21.5992 28.339 21.5157L20.3224 14.249ZM6.48071 11.2157C5.91009 11.2173 5.35181 11.0496 4.87656 10.7338C4.4013 10.418 4.03044 9.96823 3.81093 9.44152C3.59142 8.9148 3.53313 8.3348 3.64344 7.77494C3.75375 7.21508 4.0277 6.70054 4.43061 6.29647C4.83352 5.89239 5.34726 5.61695 5.9068 5.50502C6.46634 5.39309 7.04651 5.4497 7.57385 5.66768C8.1012 5.88567 8.55201 6.25523 8.8692 6.72957C9.1864 7.20391 9.35571 7.7617 9.35571 8.33232C9.35572 9.09559 9.05308 9.82772 8.51415 10.3682C7.97522 10.9087 7.24398 11.2135 6.48071 11.2157V11.2157ZM6.48071 22.649C5.91009 22.6506 5.35181 22.4829 4.87656 22.1671C4.4013 21.8513 4.03044 21.4016 3.81093 20.8748C3.59142 20.3481 3.53313 19.7681 3.64344 19.2083C3.75375 18.6484 4.0277 18.1339 4.43061 17.7298C4.83352 17.3257 5.34726 17.0503 5.9068 16.9384C6.46634 16.8264 7.04651 16.883 7.57385 17.101C8.1012 17.319 8.55201 17.6886 8.8692 18.1629C9.1864 18.6372 9.35571 19.195 9.35571 19.7657C9.35572 20.5289 9.05308 21.2611 8.51415 21.8015C7.97522 22.342 7.24398 22.6468 6.48071 22.649V22.649Z" fill="white"/>
              </svg>
              <div>Groom</div>
            </div>
          <% end %>
        <% else %>
          <%= link_to desktop_grooms_path do %>
            <div class="text-center text-white flex flex-col items-center hover:font-bold hover:stroke-2 hover:bg-sky-950 rounded-2xl m-2 p-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none" class="w-6 h-6 mb-2">
                <path d="M20.3224 14.249L28.3307 6.94066C28.4222 6.85708 28.494 6.75413 28.5407 6.63932C28.5874 6.5245 28.6079 6.40071 28.6007 6.27697C28.5936 6.15323 28.5588 6.03264 28.4992 5.92401C28.4395 5.81537 28.3563 5.72142 28.2557 5.64899L26.389 4.31566C25.8637 3.94447 25.2321 3.75359 24.5891 3.77162C23.946 3.78965 23.3262 4.01562 22.8224 4.41566L13.5057 11.849L10.789 9.74899C11.1519 8.67791 11.1022 7.50998 10.6495 6.47366C10.1968 5.43734 9.37375 4.60718 8.34137 4.14558C7.30899 3.68397 6.14153 3.62413 5.06736 3.97776C3.99319 4.33139 3.08959 5.07304 2.53332 6.05764C1.97705 7.04225 1.80812 8.19897 2.05958 9.30154C2.31103 10.4041 2.96479 11.3732 3.89296 12.0193C4.82113 12.6653 5.95695 12.9418 7.07822 12.7948C8.19949 12.6477 9.22556 12.0876 9.95571 11.224L12.139 12.8907L8.60571 15.7657C7.6045 15.2269 6.4383 15.0809 5.3352 15.3564C4.23209 15.6319 3.27143 16.309 2.64108 17.2552C2.01073 18.2015 1.75604 19.3489 1.92682 20.4729C2.0976 21.597 2.68156 22.617 3.56449 23.3333C4.44743 24.0497 5.56584 24.4109 6.70099 24.3463C7.83613 24.2818 8.90637 23.7961 9.7024 22.9842C10.4984 22.1724 10.963 21.0928 11.0052 19.9566C11.0474 18.8204 10.6643 17.7093 9.93072 16.8407L23.8557 5.71566C24.0774 5.54051 24.3497 5.4418 24.6321 5.43429C24.9145 5.42678 25.1917 5.51087 25.4224 5.67399L26.4474 6.40733L17.8557 14.2573L26.4474 22.0907L25.4224 22.824C25.1917 22.9871 24.9145 23.0712 24.6321 23.0637C24.3497 23.0562 24.0774 22.9575 23.8557 22.7823L15.6807 16.2407L14.439 17.374L22.8224 24.0407C23.3269 24.4427 23.9484 24.6698 24.5932 24.6878C25.238 24.7059 25.8712 24.5138 26.3974 24.1407L28.264 22.8073C28.3646 22.7349 28.4478 22.6409 28.5075 22.5323C28.5672 22.4237 28.6019 22.3031 28.6091 22.1793C28.6163 22.0556 28.5957 21.9318 28.549 21.817C28.5023 21.7022 28.4306 21.5992 28.339 21.5157L20.3224 14.249ZM6.48071 11.2157C5.91009 11.2173 5.35181 11.0496 4.87656 10.7338C4.4013 10.418 4.03044 9.96823 3.81093 9.44152C3.59142 8.9148 3.53313 8.3348 3.64344 7.77494C3.75375 7.21508 4.0277 6.70054 4.43061 6.29647C4.83352 5.89239 5.34726 5.61695 5.9068 5.50502C6.46634 5.39309 7.04651 5.4497 7.57385 5.66768C8.1012 5.88567 8.55201 6.25523 8.8692 6.72957C9.1864 7.20391 9.35571 7.7617 9.35571 8.33232C9.35572 9.09559 9.05308 9.82772 8.51415 10.3682C7.97522 10.9087 7.24398 11.2135 6.48071 11.2157V11.2157ZM6.48071 22.649C5.91009 22.6506 5.35181 22.4829 4.87656 22.1671C4.4013 21.8513 4.03044 21.4016 3.81093 20.8748C3.59142 20.3481 3.53313 19.7681 3.64344 19.2083C3.75375 18.6484 4.0277 18.1339 4.43061 17.7298C4.83352 17.3257 5.34726 17.0503 5.9068 16.9384C6.46634 16.8264 7.04651 16.883 7.57385 17.101C8.1012 17.319 8.55201 17.6886 8.8692 18.1629C9.1864 18.6372 9.35571 19.195 9.35571 19.7657C9.35572 20.5289 9.05308 21.2611 8.51415 21.8015C7.97522 22.342 7.24398 22.6468 6.48071 22.649V22.649Z" fill="white"/>
              </svg>
              <div>Groom</div>
            </div>
          <% end %>
        <% end %>
        <% if controller_name == "daycare_visits" || controller_name == "temporary_daycare_visits" %>
          <%= link_to desktop_daycare_visits_path do %>
            <div class="text-center text-white flex flex-col items-center font-bold stroke-2 bg-sky-950 rounded-2xl m-2 p-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none" class="w-6 h-6 mb-2">
                <path d="M17.8125 3.75002C16.3971 3.74695 15.0038 4.10074 13.7614 4.77869C12.5189 5.45663 11.4674 6.43685 10.7041 7.62874C9.94072 8.82062 9.49015 10.1857 9.39402 11.5978C9.29789 13.0099 9.55929 14.4235 10.1541 15.7078L1.875 23.986L3.20063 25.3125L11.1572 17.356C11.5892 17.9114 12.0886 18.4109 12.6441 18.8428L9.375 22.1119L10.7006 23.4375L14.2922 19.846C15.4377 20.3728 16.6868 20.6361 17.9475 20.6165C19.2082 20.5969 20.4484 20.2948 21.577 19.7326C22.7056 19.1704 23.6937 18.3622 24.4687 17.3677C25.2437 16.3731 25.7859 15.2175 26.0553 13.9857C26.3246 12.754 26.3144 11.4775 26.0254 10.2502C25.7363 9.02293 25.1757 7.87609 24.3849 6.89406C23.5941 5.91204 22.5931 5.11983 21.4557 4.57572C20.3183 4.03161 19.0734 3.74946 17.8125 3.75002ZM24.2869 11.1619C22.9204 10.9436 21.6578 10.2992 20.6794 9.32067C19.7009 8.34218 19.0565 7.07961 18.8381 5.71314C20.2046 5.93148 21.4672 6.57588 22.4456 7.55437C23.4241 8.53286 24.0685 9.79543 24.2869 11.1619V11.1619ZM11.3381 13.2131C12.7046 13.4315 13.9672 14.0759 14.9457 15.0544C15.9241 16.0329 16.5685 17.2954 16.7869 18.6619C15.4204 18.4436 14.1578 17.7992 13.1793 16.8207C12.2009 15.8422 11.5565 14.5796 11.3381 13.2131ZM18.6844 18.6853C18.4573 16.8095 17.6079 15.064 16.2719 13.7278C14.9359 12.3916 13.1905 11.542 11.3147 11.3147C11.5077 9.8908 12.1624 8.5695 13.1784 7.55344C14.1945 6.53738 15.5158 5.88267 16.9397 5.68971C17.1667 7.56553 18.0161 9.31107 19.3521 10.6472C20.6881 11.9834 22.4336 12.8331 24.3094 13.0603C24.1164 14.4842 23.4617 15.8055 22.4456 16.8216C21.4296 17.8377 20.1083 18.4924 18.6844 18.6853V18.6853Z" fill="white"/>
              </svg>
              <div>Daycare</div>
            </div>
          <% end %>
        <% else %>
          <%= link_to desktop_daycare_visits_path do %>
            <div class="text-center text-white flex flex-col items-center hover:font-bold hover:stroke-2 hover:bg-sky-950 rounded-2xl m-2 p-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none" class="w-6 h-6 mb-2">
                <path d="M17.8125 3.75002C16.3971 3.74695 15.0038 4.10074 13.7614 4.77869C12.5189 5.45663 11.4674 6.43685 10.7041 7.62874C9.94072 8.82062 9.49015 10.1857 9.39402 11.5978C9.29789 13.0099 9.55929 14.4235 10.1541 15.7078L1.875 23.986L3.20063 25.3125L11.1572 17.356C11.5892 17.9114 12.0886 18.4109 12.6441 18.8428L9.375 22.1119L10.7006 23.4375L14.2922 19.846C15.4377 20.3728 16.6868 20.6361 17.9475 20.6165C19.2082 20.5969 20.4484 20.2948 21.577 19.7326C22.7056 19.1704 23.6937 18.3622 24.4687 17.3677C25.2437 16.3731 25.7859 15.2175 26.0553 13.9857C26.3246 12.754 26.3144 11.4775 26.0254 10.2502C25.7363 9.02293 25.1757 7.87609 24.3849 6.89406C23.5941 5.91204 22.5931 5.11983 21.4557 4.57572C20.3183 4.03161 19.0734 3.74946 17.8125 3.75002ZM24.2869 11.1619C22.9204 10.9436 21.6578 10.2992 20.6794 9.32067C19.7009 8.34218 19.0565 7.07961 18.8381 5.71314C20.2046 5.93148 21.4672 6.57588 22.4456 7.55437C23.4241 8.53286 24.0685 9.79543 24.2869 11.1619V11.1619ZM11.3381 13.2131C12.7046 13.4315 13.9672 14.0759 14.9457 15.0544C15.9241 16.0329 16.5685 17.2954 16.7869 18.6619C15.4204 18.4436 14.1578 17.7992 13.1793 16.8207C12.2009 15.8422 11.5565 14.5796 11.3381 13.2131ZM18.6844 18.6853C18.4573 16.8095 17.6079 15.064 16.2719 13.7278C14.9359 12.3916 13.1905 11.542 11.3147 11.3147C11.5077 9.8908 12.1624 8.5695 13.1784 7.55344C14.1945 6.53738 15.5158 5.88267 16.9397 5.68971C17.1667 7.56553 18.0161 9.31107 19.3521 10.6472C20.6881 11.9834 22.4336 12.8331 24.3094 13.0603C24.1164 14.4842 23.4617 15.8055 22.4456 16.8216C21.4296 17.8377 20.1083 18.4924 18.6844 18.6853V18.6853Z" fill="white"/>
              </svg>
              <div>Daycare</div>
            </div>
          <% end %>
        <% end %>
        <% if (controller_name == 'customers' || controller_name == 'pets') %>
          <%= link_to desktop_users_path do %>
            <div class="text-center text-white flex flex-col items-center font-bold stroke-2 bg-sky-950 rounded-2xl m-2 p-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mb-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
              </svg>
              <div>Customers</div>
            </div>
          <% end %>
        <% else %>
          <%= link_to desktop_users_path do %>
            <div class="text-center text-white flex flex-col items-center hover:font-bold hover:stroke-2 hover:bg-sky-950 rounded-2xl m-2 p-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mb-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
              </svg>
              <div>Customers</div>
            </div>
          <% end %>
        <% end %>
        <hr class="m-2" />
        <% if (controller_name == "settings") %>
          <%= link_to desktop_settings_path do %>
            <div class="text-center text-white flex flex-col items-center font-bold stroke-2 bg-sky-950 rounded-2xl m-2 p-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mb-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 0 1 1.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.559.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.894.149c-.424.07-.764.383-.929.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 0 1-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.398.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 0 1-.12-1.45l.527-.737c.25-.35.272-.806.108-1.204-.165-.397-.506-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.108-1.204l-.526-.738a1.125 1.125 0 0 1 .12-1.45l.773-.773a1.125 1.125 0 0 1 1.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
              <div>Admin</div>
            </div>
          <% end %>
        <% else %>
          <%= link_to desktop_settings_path do %>
            <div class="text-center text-white flex flex-col items-center hover:font-bold hover:stroke-2 hover:bg-sky-950 rounded-2xl m-2 p-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mb-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 0 1 1.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.559.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.894.149c-.424.07-.764.383-.929.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 0 1-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.398.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 0 1-.12-1.45l.527-.737c.25-.35.272-.806.108-1.204-.165-.397-.506-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.108-1.204l-.526-.738a1.125 1.125 0 0 1 .12-1.45l.773-.773a1.125 1.125 0 0 1 1.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
              <div>Admin</div>
            </div>
          <% end %>
        <% end %>
        <hr class="m-2" />
        <div>
          <% if current_user.images&.order(:created_at)&.first&.image.present? %>
          <div class="w-full flex justify-center items-center">
            <img src="<%= url_for(current_user.images.order(:created_at).first.image) %>" alt="<%= current_user.first_name %>" class="rounded-full w-16 h-16 flex-shrink-0">
          </div>
          <% end %>
          <div class="text-center w-full font-bold text-white"><%= current_user.first_name %></div>
        </div>
      </div>
      <div class="w-full">
        <div class="w-full p-4 justify-end flex">
          <div class="bg-gray-100 p-2 rounded-2xl space-x-4 flex">
            <%= link_to desktop_grooms_new_path do %>
              <div class="bg-white text-black p-3 rounded flex space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none" class="w-6 h-6 text-sky-500">
                  <path d="M20.3224 14.249L28.3307 6.94066C28.4222 6.85708 28.494 6.75413 28.5407 6.63932C28.5874 6.5245 28.6079 6.40071 28.6007 6.27697C28.5936 6.15323 28.5588 6.03264 28.4992 5.92401C28.4395 5.81537 28.3563 5.72142 28.2557 5.64899L26.389 4.31566C25.8637 3.94447 25.2321 3.75359 24.5891 3.77162C23.946 3.78965 23.3262 4.01562 22.8224 4.41566L13.5057 11.849L10.789 9.74899C11.1519 8.67791 11.1022 7.50998 10.6495 6.47366C10.1968 5.43734 9.37375 4.60718 8.34137 4.14558C7.30899 3.68397 6.14153 3.62413 5.06736 3.97776C3.99319 4.33139 3.08959 5.07304 2.53332 6.05764C1.97705 7.04225 1.80812 8.19897 2.05958 9.30154C2.31103 10.4041 2.96479 11.3732 3.89296 12.0193C4.82113 12.6653 5.95695 12.9418 7.07822 12.7948C8.19949 12.6477 9.22556 12.0876 9.95571 11.224L12.139 12.8907L8.60571 15.7657C7.6045 15.2269 6.4383 15.0809 5.3352 15.3564C4.23209 15.6319 3.27143 16.309 2.64108 17.2552C2.01073 18.2015 1.75604 19.3489 1.92682 20.4729C2.0976 21.597 2.68156 22.617 3.56449 23.3333C4.44743 24.0497 5.56584 24.4109 6.70099 24.3463C7.83613 24.2818 8.90637 23.7961 9.7024 22.9842C10.4984 22.1724 10.963 21.0928 11.0052 19.9566C11.0474 18.8204 10.6643 17.7093 9.93072 16.8407L23.8557 5.71566C24.0774 5.54051 24.3497 5.4418 24.6321 5.43429C24.9145 5.42678 25.1917 5.51087 25.4224 5.67399L26.4474 6.40733L17.8557 14.2573L26.4474 22.0907L25.4224 22.824C25.1917 22.9871 24.9145 23.0712 24.6321 23.0637C24.3497 23.0562 24.0774 22.9575 23.8557 22.7823L15.6807 16.2407L14.439 17.374L22.8224 24.0407C23.3269 24.4427 23.9484 24.6698 24.5932 24.6878C25.238 24.7059 25.8712 24.5138 26.3974 24.1407L28.264 22.8073C28.3646 22.7349 28.4478 22.6409 28.5075 22.5323C28.5672 22.4237 28.6019 22.3031 28.6091 22.1793C28.6163 22.0556 28.5957 21.9318 28.549 21.817C28.5023 21.7022 28.4306 21.5992 28.339 21.5157L20.3224 14.249ZM6.48071 11.2157C5.91009 11.2173 5.35181 11.0496 4.87656 10.7338C4.4013 10.418 4.03044 9.96823 3.81093 9.44152C3.59142 8.9148 3.53313 8.3348 3.64344 7.77494C3.75375 7.21508 4.0277 6.70054 4.43061 6.29647C4.83352 5.89239 5.34726 5.61695 5.9068 5.50502C6.46634 5.39309 7.04651 5.4497 7.57385 5.66768C8.1012 5.88567 8.55201 6.25523 8.8692 6.72957C9.1864 7.20391 9.35571 7.7617 9.35571 8.33232C9.35572 9.09559 9.05308 9.82772 8.51415 10.3682C7.97522 10.9087 7.24398 11.2135 6.48071 11.2157V11.2157ZM6.48071 22.649C5.91009 22.6506 5.35181 22.4829 4.87656 22.1671C4.4013 21.8513 4.03044 21.4016 3.81093 20.8748C3.59142 20.3481 3.53313 19.7681 3.64344 19.2083C3.75375 18.6484 4.0277 18.1339 4.43061 17.7298C4.83352 17.3257 5.34726 17.0503 5.9068 16.9384C6.46634 16.8264 7.04651 16.883 7.57385 17.101C8.1012 17.319 8.55201 17.6886 8.8692 18.1629C9.1864 18.6372 9.35571 19.195 9.35571 19.7657C9.35572 20.5289 9.05308 21.2611 8.51415 21.8015C7.97522 22.342 7.24398 22.6468 6.48071 22.649V22.649Z" fill="currentColor"/>
                </svg>
                <div>Book Groom</div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="mx-4 rounded-lg">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <div class="w-full flex flex-col">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
